@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
    font-family: 'Averta-black';
    src: url('https://www.avon.ru/REPSuite/static/download/fonts/avertacy/avertacy-black.woff2') format('woff2'),
         url('https://www.avon.ru/REPSuite/static/download/fonts/avertacy/avertacy-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
