.linkDownload {
  position: relative;
  display: inline-block;
  padding-left: 31px;
  font: 500 16px/0.94 $font-montserrat;
  letter-spacing: 0.01px;
  color: $purple;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    @include icon-svg(download-document, 19px, 25px);
  }

  &:hover {
    .linkDownload__title  {
      text-decoration: underline;
    }
  }

  &__title {

  }

  &__info {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: 0.01px;
    color: #707677;
  }
}
