// bottom
.triangleShadow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: auto;
  bottom: -26px;
  right: 50%;
  transform: translateX(50%);
}

.triangleShadow__helper {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: $white;
    transform: rotate(45deg);
    bottom: 16px;
    left: -1px;
    border: 1px solid $gray-light;
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.07);
  }
}

// right
.triangleShadow--right {
  margin-bottom: 2px;
  bottom: 50%;
  right: -22px;
  transform: translateY(50%);
}

.triangleShadow__helper {
  &:after {
    bottom: -1px;
    left: -14px;
  }
}
