// colors
$white:             #ffffff;
$white-light:       #f6f9f9;

$gray:              #546264;
$gray-light:        #E4EDED;

$purple:            #7f28c4;
$orange:            #f09f87;

$black:             #181818;



// animation
$transition-normal: .3s linear;
$transition-fast:   .1s linear;



// fonts
$font-montserrat:   'Montserrat', sans-serif;
$font-averta-black: 'Averta-black', sans-serif;



// screen resolutions
$desktop:           'max-width: 1280px';
$tablet:            'max-width: 992px';
$mobile:            'max-width: 767px';
