$white:         #ffffff;
$white-light:   #E4EDED;
$pink:          #FF336D;
$pink-hover:    #E22A68;
$gray:          #546264;
$gray-light:    #a2acae;
$black:         #181818;



// animation
$transition-normal: .3s linear;
$transition-fast:   .1s linear;



// fonts
$roboto: 'Roboto', Arial, sans-serif;


// screen resolutions
$desktop: 'max-width: 1204px';
$tablet:  'max-width: 992px';
$mobile:  'max-width: 767px';
