doctype html
html lang="ru"
  head
    include head
    title AVON - anew_club_C10
  body
    .contentWrapper
      .contentWrapper__content.content

        include banners/anew_club

        .content__tabs.tabs
          .content__in
            .tabs__links
              a.tabs__link.tabs__link--2 href="http://www.avon.ru/REPSuite/anew_club_next_step_C10.page"
                span.tabs__linkIn
                  | Следующий этап
                  i.tabs__linkPeriod
                    | В период Кампаний 10-13/2020
              span.tabs__link.tabs__link--2.is-active
                span.tabs__linkIn
                  | Забирай призы
                  i.tabs__linkPeriod
                    | По результатам Кампаний 5-9/2020

            .tabs__content
              .content__rulesAnew.rulesAnew
                h2.rulesAnew__title
                  | Правила программы
                .rulesAnew__cols
                  .rulesAnew__col
                    .rulesAnew__colIn
                      .rulesAnew__colIconWrapper
                        include icons/star-white
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Ты можешь обменять Баллы
                        br/
                        | Заработанные в период кампаний 5-9/2020*
                        br/
                        span.rulesAnew__colTextBold
                          | на ценные призы!
                  .rulesAnew__col
                    .rulesAnew__colIn
                      .rulesAnew__colIconWrapper
                        include icons/gift-card-white
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Забирай призы
                        br/
                        | в период кампаний 10-11/2020
                        br/
                        span.rulesAnew__colTextBold
                          | И получи скидку в кампании 12/2020
                        | **

              .content__prizesList.prizesList
                h3.prizesList__title
                  | Список призов
                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 1
                  | За 5 баллов – закажи средство Anew для кожи вокруг глаз по специальной цене 75
                  i.currency
                    | ₽
                .prizesList__bounty.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_05/step2_1.jpg"
                              p.bountyGood__title
                                | Система 2 в 1 от тёмных кругов под&nbsp;глазами: крем-корректор
                                |  и&nbsp;гель «Ровный тон и&nbsp;укрепление»
                              p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 03254
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 900
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 75
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button href="javascript:ad_to_order('LN:03254;Q:1');"
                                | Заказать
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_05/step2_2.jpg"
                              p.bountyGood__title
                                | Система 2 в 1 вокруг глаз
                                br/
                                | «Лифтинг и&nbsp;укрепление» крем и гель
                              p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 02838
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 900
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 75
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button href="javascript:ad_to_order('LN:02838;Q:1');"
                                | Заказать

                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 2
                  | За 10 баллов – закажи сыворотку по специальной цене 150
                  i.currency
                    | ₽
                .prizesList__bounty.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_05/step2_3.jpg"
                              p.bountyGood__title
                                | Разглаживающая сыворотка-
                                br/
                                | корректор с&nbsp;0,1% ретинола
                              p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 11587
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 1600
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 150
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button href="javascript:ad_to_order('LN:11587;Q:1');"
                                | Заказать

                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 3
                  | За 15 баллов – получи 50% скидку на все продукты Anew основного каталога в первом заказе***
                .prizesList__cols
                  .prizesList__item
                    .prizesList__itemImgWrapper
                      img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_05/step2_4.jpg"
                    p.prizesList__itemTitle
                      | Только в кампании 12

          .content__in
            .content__prizesList.prizesList
              h3.prizesList__title
                | Супер выгода
              .prizesList__note.prizesList__note--green
                | Итого, набрав 15 баллов, Представитель достигает 3 уровня и получает доступ ко всем призам
              .prizesList__cols
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_05/profit_1.jpg"
                  p.prizesList__itemDescription
                    | Призы за 1 уровень
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_05/step2_3.jpg"
                  p.prizesList__itemDescription
                    | Призы за 2 уровень
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_05/step2_4.jpg"
                  p.prizesList__itemDescription
                    | Призы за 3 уровень

          p.content__note
            | В акции не участвуют товары интернет-распродаж, мини-версии и пробные образцы.
          p.content__note
            span.content__noteHelper
              | *
            | Для Представителей-трендсеттеров по каталогам кампаний 7-11/2020.
          p.content__note
            span.content__noteHelper
              | **
            | Для Представителей-трендсеттеров призы доступны в период кампаний 12-13/2020, скидка – в период кампании 14/2020.
          p.content__note
            span.content__noteHelper
              | ***
            | Скидка распространяется только на первый заказ Anew в каталоге. При отсутствии в первом заказе каталога продукции Anew, скидка недействительна.
          p.content__note
            span.content__noteHelper
              | (1)
            | Ты можешь заказать только один приз каждого уровня в&nbsp;течение
            |  2&nbsp;кампаний. Цена приза не&nbsp;подлежит скидке Представителя.
            br/
            | Количество призов ограничено. Организатор программы оставляет
            |  за&nbsp;собой право заменить призы, представленные на&nbsp;странице
            |  на&nbsp;равноценные призы по&nbsp;своему усмотрению. Организатором
            |  акции является ООО «Эйвон Бьюти Продактс Компани»,
            |  ОГРН 103770806732. Участниками могут быть физические лица,
            |  выполнившие условия программы. Обладателями призовых наборов
            |  не&nbsp;могут стать Представители c&nbsp;просроченной задолженностью
            |  и&nbsp;c&nbsp;задолженностью по&nbsp;оплате заказа, сделанного
            |  в&nbsp;период проведения акции.
            |  При&nbsp;подведении итогов возвраты вычитаются
            |  из&nbsp;общего количества заказов.

    include scripts
