doctype html
html lang="ru"
  head
    include head
    title AVON - anew_club_new_stage_C01_C03_2021
  body
    .contentWrapper
      .contentWrapper__content.content

        include banners/anew_club_prize_C14_C16

        .content__tabs.tabs
          .tabs__links.tabs__links--mb30
            a.tabs__link.tabs__link--2 href="https://www.avon.ru/REPSuite/anew_club_prize_C14_C16.page"
              span.tabs__linkIn
                | Забирай призы
                i.tabs__linkPeriod
                  | По результатам Кампаний 14-16/2020
            span.tabs__link.tabs__link--2.is-active
              span.tabs__linkIn
                | Следующий этап
                i.tabs__linkPeriod
                  | В период Кампаний 01-03/2021

          .content__in
            .tabs__content.is-active
              .content__rulesAnew.rulesAnew.rulesAnew--mt0
                h2.rulesAnew__title
                  | Правила программы
                .rulesAnew__cols
                  .rulesAnew__col.rulesAnew__col--small
                    .rulesAnew__colIn style="padding-left: 75px;"
                      .rulesAnew__colIconWrapper.rulesAnew__colIconWrapper--noBG
                        include icons/rules-star
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Покупай продукты anew
                          br/
                          | И зарабатывай баллы
                        br/
                        | В период кампаний 01-03/2021*
                      ul.rulesAnew__colList
                        li.rulesAnew__colListItem
                          | 5 баллов - 1 уровень
                        li.rulesAnew__colListItem
                          | 10 баллов - 2 уровень
                        li.rulesAnew__colListItem
                          | 15 баллов - 3 уровень
                  .rulesAnew__col.rulesAnew__col--small
                    .rulesAnew__colIn style="padding-left: 75px;"
                      .rulesAnew__colIconWrapper.rulesAnew__colIconWrapper--noBG
                        include icons/rules-gift
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Забирай призы
                        br/
                        | в период кампаний 04-06/2021

              .content__prizesList.prizesList
                h3.prizesList__title.prizesList__title--textBlack
                  | <span class="textBold">Шаг 1</span> – зарабатывай баллы
                p.prizesList__note.prizesList__note--gold style="padding-top: 10px; padding-bottom: 10px;"
                  | Получай баллы за покупку продуктов Anew
                .prizesList__anewInfo.anewInfo
                  .anewInfo__cols
                    .anewInfo__col.anewInfo__col--2
                      .anewInfo__item
                        .anewInfo__itemImgWrapper
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_1.jpg"
                        p.anewInfo__itemTitle.anewInfo__itemTitle--withIcon
                          img.anewInfo__itemTitleIcon src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/points-2.svg"
                          | за Protinol, любые сыворотки
                          br/
                          | и&nbsp;новинки 4 квартала 2020 года –
                          br/
                          | дневные и&nbsp;ночные кремы
                    .anewInfo__col.anewInfo__col--2
                      .anewInfo__item
                        .anewInfo__itemImgWrapper
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_2.jpg"
                        p.anewInfo__itemTitle.anewInfo__itemTitle--withIcon
                          img.anewInfo__itemTitleIcon src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/poits-1.svg"
                          | за все остальные продукты Anew*
                        p.anewInfo__itemNote
                          | * При покупке тканевой маски для лица «Максимальная Молодость» (код 1379668) балл начисляется при покупке от&nbsp;3&#8209;х&nbsp;штук»

                h3.prizesList__title.prizesList__title--textBlack
                  | <span class="textBold">Шаг 2</span> – забирай призы
                .prizesList__note.prizesList__note--gold
                  p.prizesList__noteTitle
                    | Уровень 1
                  | Набери 5 баллов – и закажи набор «Твой профессиональный уход»
                  br/
                  | по специальной цене 149
                  i.currency
                    | ₽
                .prizesList__bounty.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood style="padding-bottom: 90px;"
                              .bountyGood__imgWrapper style="margin: 0 -54px 25px; padding: 0;"
                                img.bountyGood__img style="max-width: none; width: 100%;" src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_3.jpg"
                              p.bountyGood__title style="padding: 0;"
                                | Черная тканевая маска для
                                br/
                                | Лица «Защита и увлажнение»
                                br/
                                | +
                                br/
                                | Подушечки для пилинга кожи лица «Ровный тон и укрепление»
                              p.bountyGood__price style="bottom: 40px;"
                                span.bountyGood__priceOld
                                  | 1 300
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 149
                                i.bountyGood__priceCurrency
                                  | ₽

                .prizesList__note.prizesList__note--gold
                  p.prizesList__noteTitle
                    | Уровень 2
                  | Набери 10 баллов – закажи набор «Твой ночной уход»: Ночная маска для&nbsp;лица&nbsp;+ 1&nbsp;сыворотка на&nbsp;выбор по&nbsp;специальной цене 249
                  i.currency
                    | ₽
                p.prizesList__text
                  | Набрав 10 баллов, ты сможешь заказать призы 1-го и 2-го уровня
                .prizesList__anewInfo.anewInfo.anewInfo--full
                  .anewInfo__cols
                    .anewInfo__col.anewInfo__col--260
                      .anewInfo__item.anewInfo__item--plus
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_4.jpg"
                        .anewInfo__itemTitle
                          | Ночная маска для лица «Защита и&nbsp;восстановление»
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item.anewInfo__item--and
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_5.jpg"
                        .anewInfo__itemTitle
                          | Сыворотка-корректор морщин с ретинолом
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item.anewInfo__item--and
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_6.jpg"
                        .anewInfo__itemTitle
                          | Сыворотка для лица с&nbsp;витамином&nbsp;С «Максимальное сияние»
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_7.jpg"
                        .anewInfo__itemTitle
                          | воротка-уход с&nbsp;концентратом гиалурона,
                .prizesList__price
                  span.prizesList__priceOld
                    | 2 400
                    i.currency ₽
                  | 249
                  i.currency ₽

                .prizesList__note.prizesList__note--gold
                  p.prizesList__noteTitle
                    | Уровень 3
                  | Набери 15 баллов – закажи набор «Protinol: твоя упругая кожа»: Гидрогелевая маска&nbsp;+
                  |  пробный&nbsp;образец&nbsp;+ ночной и&nbsp;дневной крем на выбор по специальной цене 399
                  i.currency
                    | ₽
                p.prizesList__text
                  | Набрав 15 баллов, ты получишь доступ к призам всех трёх уровней.
                .prizesList__anewInfo.anewInfo.anewInfo--full
                  .anewInfo__cols
                    .anewInfo__col.anewInfo__col--260
                      .anewInfo__item.anewInfo__item--plus
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_8.jpg"
                        .anewInfo__itemTitle
                          | Пробный образец сыворотки для лица «Инновация», 7 шт.
                          br/
                          | +
                          br/
                          | Гидрогелевая маска для лица «Упругая кожа», 1 шт.
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item.anewInfo__item--and
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_9.jpg"
                          span.anewInfo__itemImgLabel.anewInfo__itemImgLabel--red
                            | 35+
                        .anewInfo__itemTitle
                          | Дневной крем для лица «Совершенство» SPF 25
                          br/
                          | +
                          br/
                          | Ночной крем для лица «Обновление»
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item.anewInfo__item--and
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_10.jpg"
                          span.anewInfo__itemImgLabel.anewInfo__itemImgLabel--yellowDark
                            | 45+
                        .anewInfo__itemTitle
                          | Дневной укрепляющий крем для лица SPF 25
                          br/
                          | +
                          br/
                          | Ночной восстанавливающий крем для лица
                    .anewInfo__col.anewInfo__col--220
                      .anewInfo__item
                        .anewInfo__itemImgWrapper.anewInfo__itemImgWrapper--small
                          img.anewInfo__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_club_new_stage_C01_C03_2021/good_11.jpg"
                          span.anewInfo__itemImgLabel.anewInfo__itemImgLabel--violet
                            | 55+
                        .anewInfo__itemTitle
                          | Дневной лифтинг-крем для лица SPF 25
                          br/
                          | +
                          br/
                          | Ночной обновляющий крем для лица
                .prizesList__price
                  span.prizesList__priceOld
                    | 2 400
                    i.currency ₽
                  | 399
                  i.currency ₽

          p.content__note
            | В акции не участвуют товары интернет-распродаж, мини-версии и пробные образцы.
          p.content__note
            span.content__noteHelper
              | *
            | Для Представителей-трендсеттеров по каталогам кампаний 03-06/2021
          p.content__note
            span.content__noteHelper
              | **
            | Для Представителей-трендсеттеров призы доступны в период кампаний 04-08/2021
          p.content__note
            span.content__noteHelper
              | (1)
            | Ты можешь заказать только один приз каждого уровня в&nbsp;течение
            |  2&nbsp;кампаний. Цена приза не&nbsp;подлежит скидке Представителя.
            br/
            | Количество призов ограничено. Организатор программы оставляет
            |  за&nbsp;собой право заменить призы, представленные на&nbsp;странице
            |  на&nbsp;равноценные призы по&nbsp;своему усмотрению. Организатором
            |  акции является ООО «Эйвон Бьюти Продактс Компани»,
            |  ОГРН 103770806732. Участниками могут быть физические лица,
            |  выполнившие условия программы. Обладателями призовых наборов
            |  не&nbsp;могут стать Представители c&nbsp;просроченной задолженностью
            |  и&nbsp;c&nbsp;задолженностью по&nbsp;оплате заказа, сделанного
            |  в&nbsp;период проведения акции.
            |  При&nbsp;подведении итогов возвраты вычитаются
            |  из&nbsp;общего количества заказов.

    include scripts
