doctype html
html lang="ru"
  head
    include head
    title AVON - charity 11
  body
    / link href="https://www.avon.ru/REPSuite/static/killer-offers/common/ko_multiple.css" rel="stylesheet" /
    script src="https://www.avon.ru/REPSuite/static/killer-offers/common/ko_multiple.js"

    .contentWrapper
      .contentWrapper__content.content

        include banners/charity

        .content__in
          h2.content__title
            | Благотворительные товары
          p.content__subtitle
            | Покупая эти товары, ты помогаешь бороться против рака груди
          .bounty.bounty--charity.js-bounty data-product-url="https://www.avon.ru/REPSuite/static/killer-offers/charity/2020-11/products.js"

        .content__buttons
          a.content__button.linkButton.linkButton--purpleTransparent href="/REPSuite/home.page"
            | Вернуться на главную
          a.content__button.linkButton.linkButton--purple href="https://my.avon.ru/socialnaya-otvetstvennost"
            | Подробнее о миссиях avon

        p.content__note
          span.content__noteHelper !
          | Внимание! Специальное предложение действует в период с 11 по 31 августа 2020 года в соотвествии с твоим графиком сдачи-получения заказов Avon;
          br/
          | Ты можешь заказать неограниченное количество продуктов пока товар есть в наличии;
          br/
          | Цены на продукты по специальному предложению НЕ входят в базу для расчета скидки и НЕ подлежат дифференцированной скидке Представителя;
          br/
          | В акции участвуют Представители национальных и трендсеттерных территорийВнимание! Специальное предложение действует в период с 11 по 31 августа 2020 года в соотвествии с твоим графиком сдачи-получения заказов Avon;
