doctype html
html lang="ru"
  head
    include head
    title AVON - home nl
  body
    include header

    .contentWrapper.contentWrapper--sidebar
      .contentWrapper__sidebar.sidebar
        .sidebar__item
          p.sidebar__title Мой аккаунт
          .sidebar__in
            p.sidebar__lastUpdate Последнее обновление 29/10/2018
            ul.sidebar__limits
              li.sidebar__limitsItem
                p.sidebar__limitsTitle Лимит
                span.sidebar__limitsAmount 80 000,00 ₽
              li.sidebar__limitsItem
                a.sidebar__link href="#" БАЛАНС
                span.sidebar__limitsAmount 12 560,00 ₽
              li.sidebar__limitsItem
                p.sidebar__limitsTitle Доступный лимит
                span.sidebar__limitsAmount 52 560,00 ₽
            a.sidebar__button.linkButton.linkButton--redTransparent href="#" Оплатить
        .sidebar__item
          p.sidebar__title Мои заказы
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" НЕЗАВЕРШЁННЫЕ ЗАКАЗЫ
            li.sidebar__menuItem
              a.sidebar__link href="#" ВОЗВРАТЫ
            li.sidebar__menuItem
              a.sidebar__link href="#" ОНЛАЙН ЗАКАЗЫ КЛИЕНТОВ
        .sidebar__item
          p.sidebar__title Новости
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" У ВАС 2 НОВЫХ СООБЩЕНИЯ
        .sidebar__item
          p.sidebar__title Для Представителей
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" ОНЛАЙН-ПРЕДЛОЖЕНИЯ
        .sidebar__item
          p.sidebar__title Настройки
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" ИЗМЕНИТЬ ПАРОЛь

      .contentWrapper__content.content.content--marginSm
        .content__in.content__in--links
          .content__cols.colsFlex.colsFlex--3
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="https://www.avon.ru/REPSuite/customerOnlineOrders.page" Разместить заказ
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="https://www.avon.ru/REPSuite/myProgram.page" Мои Программы
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="" Онлайн-предложения

        .content__in.content__in--small
          h1.content__subtitle.content__subtitle--normal.content__subtitle--med Каталоги 12
          .content__cols.colsFlex.catalogInfo
            .catalogInfo__col.colsFlex__col.colsFlex__col--2
              .catalogInfo__imgWrapper
                img.catalogInfo__img src="static/images/gi3/cat_nl_12-1.png" alt=""
                a.catalogInfo__button.linkButton.linkButton--redTransparent href="https://www.avon.ru/REPSuite/current_catalog.page" Каталоги для вас
            .catalogInfo__col.colsFlex__col.colsFlex__col--2
              .catalogInfo__imgWrapper
                img.catalogInfo__img src="static/images/gi3/cat_nl_12-2.png" alt=""
                a.catalogInfo__button.linkButton.linkButton--redTransparent href="https://www.avon.ru/REPSuite/interactive_catalogs.page" Каталоги для ваших клиентов

        .content__in.content__in--small
          h3.content__subtitle.content__subtitle--normal.content__subtitle--marginBottom.content__subtitle--med style="letter-spacing: -0.42px;" Эксклюзивно онлайн: распродажа и спецпредложения
          p.content__text
            img src="static/images/gi3/cat_nl_12-killer.jpg"
          .content__cols.colsFlex.colsFlex--wrap.colsFlex--3
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="#"
                | Ароматы от <span class="linkButton__sum">390</span>₽
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="#"
                | Аксессуары от <span class="linkButton__sum">79</span>₽
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="#"
                | Уход за лицом от <span class="linkButton__sum">50</span>₽
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="#"
                | Всё для волос от <span class="linkButton__sum">150</span>₽
          .content__sep
          .content__cols.colsFlex.colsFlex--2
            a.colsFlex__col.offerProduct.offerProduct--in.offerProduct--textBlack.offerProduct--drop href="https://www.avon.ru/REPSuite/the_drop_12.page"
              .offerProduct__logoWrapper
                include icons/drop
              p.offerProduct__info
                | Коллекция аксессуаров <br/>для волос
              span.offerProduct__link КУПИТЬ
            a.colsFlex__col.offerProduct.offerProduct--in.offerProduct--textBlack.offerProduct--bestPrices href="https://www.avon.ru/REPSuite/io_12.page"
              p.offerProduct__title Лучшие цены <br/>сезона
              p.offerProduct__info Цены от 245₽
              span.offerProduct__link КУПИТЬ

        .content__program.program.program--transparent
          p.program__name.program__name--textReg Лето AVON
          .program__item.program__item--banner style="background: #f7f489 url('static/images/gi3/banners/home-rodriguez.jpg') no-repeat right bottom; -webkit-background-size: cover; background-size: cover; min-height: 150px; padding-top: 24px;"
            p.program__info Не упусти шанс выиграть прогулку <br/>на яхте по Средиземноморью
            a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/Shkola-blogerov-s-Timurom.page" target="_blank" Подробнее

        .content__in.content__in--small
          h2.content__subtitle.content__subtitle--normal.content__subtitle--med Лучшие предложения каталога
          .content__galleryCat.galleryCat.js-gallery data-kind="single"
            / .galleryCat__slide
              .galleryCat__item style="border: 1px solid #cbcbcb;"
                img.galleryCat__itemImg src="static/images/gi3/slider/c11-home-1.jpg"
                .galleryCat__in style="padding-top: 9px; padding-bottom: 16px; box-shadow: none; background: transparent;"
                  span.galleryCat__label НОВИНКИ
                  p.galleryCat__title
                    | МОНОАРОМАТЫ
                    br/
                    i
                      | Мискуй смелее
                      br/
                      | и&nbsp;лови выгоду!
                  p.galleryCat__priceInfo
                    span.galleryCat__priceInfoOld 590 ₽
                    span.galleryCat__priceInfoNew
                      | 349
                      i.currency ₽
                  ul.galleryCat__discountList
                    li.galleryCat__discountListItem
                      | При покупке <span>2</span> – <span>299<i class="currency">₽</i></span>
                    li.galleryCat__discountListItem
                      | При покупке <span>3</span> – <span>249<i class="currency">₽</i></span>
                  a.galleryCat__button.linkButton.linkButton--red href="#" Подробнее
            / .galleryCat__slide
              .galleryCat__item style="background-image: url('static/images/gi3/slider/c11-home-2.jpg');"
                .galleryCat__in
                  span.galleryCat__label НОВИНКИ
                  img.galleryCat__img src="static/images/gi3/avon_senses.png" style="height: 60px;"
                  p.galleryCat__title style="margin-bottom: 35px;"
                    | ЗАРЯДИСЬ <br/>ЭНЕРГИЕЙ ЛЕТА
                  a.galleryCat__button.linkButton.linkButton--red href="#" Подробнее
            / .galleryCat__slide
              .galleryCat__item style="background-image: url('static/images/gi3/slider/c11-home-3.jpg');"
                .galleryCat__in
                  span.galleryCat__label НОВИНКИ
                  p.galleryCat__title style="margin-bottom: 7px;"
                    | С НОВЫМ <br/>УЧЕБНЫМ ГОДОМ
                  p.galleryCat__info
                    | Уникальная коллекция одежды
                    |  и&nbsp;аксессуаров с&nbsp;героями фильмов
                  img.galleryCat__img src="static/images/gi3/slider/c11-home-3-disney.svg" style="height: 45px; margin-bottom: 13px;"
                  a.galleryCat__button.linkButton.linkButton--red href="#" Подробнее
            / .galleryCat__slide
              .galleryCat__item style="background-image: url('static/images/gi3/slider/c11-home-4.jpg');"
                .galleryCat__in
                  span.galleryCat__label УЧАСТВУЙ В АКЦИИ
                  p.galleryCat__title style="margin-bottom: 5px;"
                    | ЛЕТО НА ДРАЙВЕ
                  p.galleryCat__info
                    | Получи карту с кэшбэком
                  img.galleryCat__img src="static/images/gi3/avon_cashback.png" style="height: 90px; margin-bottom: 22px;"
                  a.galleryCat__button.linkButton.linkButton--red href="#" Подробнее
            .galleryCat__slide
              .galleryCat__item.galleryCat__item--common style="background-image: url('static/images/gi3/slider/c12-home-banner-1.jpg');"
                .galleryCat__in
                  img.galleryCat__good src="static/images/gi3/slider/c12-home-banner-1-img.png" width="207"
                  span.galleryCat__label НОВИНКА
                  p.galleryCat__info style="margin-bottom: -4px; font-size: 22px; font-weight: 700;"
                    | Жидкая помада
                  p.galleryCat__title
                    i style="font-size: 26px; font-weight: 900;"
                      | «СУПЕРСТОЙКОСТЬ»
                  p.galleryCat__info style="font-size: 18px; font-weight: 500;"
                    | Эффект: «Только накрасила»
                  p.galleryCat__priceInfo
                    span.galleryCat__priceInfoOld 550 ₽
                    span.galleryCat__priceInfoNew
                      | 349
                      i.currency ₽
                  a.galleryCat__button.linkButton.linkButton--red href="http://www.avon.ru/REPSuite/jsbrochure.page#page=4&campaign=12&year=19&index=01&zoom=0&type=core" Подробнее
            .galleryCat__slide
              .galleryCat__item.galleryCat__item--common style="background-image: url('static/images/gi3/slider/c12-home-banner-2.jpg');"
                .galleryCat__in
                  span.galleryCat__label В СПЕЦИАЛЬНОМ КАТАЛОГЕ ДЛЯ МУЖЧИН
                  p.galleryCat__info
                    | Коллекция мужского ухода
                  p.galleryCat__title
                    i
                      | Full Speed Turbo Care
                  p.galleryCat__attention
                    | ЗАКАЖИ НА <span>1000<i class="currency">₽</i></span> —
                  p.galleryCat__attention
                    | ПЛАТИ <span>500<i class="currency">₽</i></span>
                  a.galleryCat__button.linkButton.linkButton--red href="#" Подробнее
            .galleryCat__slide
              .galleryCat__item.galleryCat__item--common style="border: 1px solid #ced6d6; background-image: url('static/images/gi3/slider/c12-home-banner-3.jpg');"
                .galleryCat__in
                  span.galleryCat__label style="margin-bottom: 36px;" СПЕЦПРЕДЛОЖЕНИЕ
                  p.galleryCat__info style="text-transform: uppercase; font: 300 38px/32px Roboto, Arial, sans-serif; letter-spacing: 0.38px;"
                    | Природа
                  p.galleryCat__title
                    i style="margin-bottom: 4px; text-transform: uppercase; font: 700 25px/32px Roboto, Arial, sans-serif; letter-spacing: 0.25px;"
                      | в каждом аромате
                  p.galleryCat__attention style="font-size: 23px; text-transform: uppercase; color: #ff336d;"
                    | скидки до <span style="font-size: 29px;">50</span>%
                  a.galleryCat__button.linkButton.linkButton--red href="http://www.avon.ru/REPSuite/jsbrochure.page#page=2&campaign=12&year=19&index=01&zoom=0&type=focus" Подробнее

          .content__sep
          .content__program.program.program--transparent.program--noMargin
            .program__cols
              a.program__col href="https://www.avon.ru/REPSuite/jewelery_12.page"
                p.program__name.program__name--small Мастера бижутерии
                .program__item.program__item--bijouterie
                  .program__logoWrapper
                    include icons/bijouterie-black
                  p.program__info
                    | Ценности прошлого <br/>и мастерство настоящего <br/>С 1963 г.
                  span.program__link купить
              a.program__col href="#"
                p.program__name.program__name--small Продукты для детей
                .program__item.program__item--disney
                  .program__logoWrapper
                    include icons/disney
                  p.program__info.program__info--bold.program__info--textUp
                    | Скидка представителя 40%
                  p.program__info
                    | при покупке от <span class="program__infoSum">1500</span>₽ <br/>Подробности смотри в интерактивном каталоге
                  span.program__link купить
                  span.program__copyright
                    | © Disney

        .content__program.program.program--transparent
          .program__cols
            .program__col
              p.program__name.program__name--small Открой онлайн-магазин
              .program__item.program__item--noIcon.program__item--online
                p.program__info
                  | Хочешь увеличить продажи? <br/>Открой свой онлайн-магазин
                a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/open_shop.page" Открыть магазин
            .program__col
              p.program__name.program__name--small Avon для друзей
              .program__item.program__item--friends
                .program__logoWrapper
                  img.program__logo src="static/images/gi3/banners/program_friends_icon.png"
                p.program__info
                  | Приглашай друзей — <br/>получай призы!
                a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/avon_friends.page" Подробнее

        .content__newsBanners.newsBanners
          .newsBanners__cols.colsFlex.colsFlex--3
            .newsBanners__col.colsFlex__col style="background-color: #efdfdd;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_avon_on.png"
                  span.newsBanners__name
                    | Avon&nbsp;On
                p.newsBanners__info
                  | Мобильное приложение для&nbsp;Представителей
                a.newsBanners__link href="https://www.avon.ru/REPSuite/avon_on.page" ПОДРОБНЕЕ
            .newsBanners__col.colsFlex__col style="background-color: #c0e3e8;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_skills_icon.png"
                  span.newsBanners__name
                    | Skill&nbsp;Cup
                p.newsBanners__info
                  | Мобильное приложение «Обучение на ходу»
                a.newsBanners__link href="https://www.avon.ru/REPSuite/skill_cup.page" ПОДРОБНЕЕ
            .newsBanners__col.colsFlex__col style="background-color: #fde4bb;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_insta_icon.png"
                  span.newsBanners__name
                    | Instagram
                p.newsBanners__info
                  | Узнавай о новинках, участвуй в розыгрышах, получай призы!
                a.newsBanners__link href="https://www.instagram.com/avonrussia/" ПЕРЕЙТИ В instagram

        / .content__program.program.program--transparent
          .program__cols
            .program__col
              p.program__name Скачай приложение Skill Cup
              .program__item.program__item--skills
                .program__logoWrapper
                  img.program__logo src="static/images/gi3/banners/program_skills_icon.png"
                p.program__info
                  | Skill Cup — <br/>Мобильное приложение <br/>«Обучение на ходу»
                a.program__button.linkButton.linkButton--red href="#" Подробнее
            .program__col
              p.program__name Instagram
              .program__item.program__item--insta
                .program__logoWrapper
                  img.program__logo src="static/images/gi3/banners/program_insta_icon.png"
                p.program__info
                  | Подписывайся на AvonRussia, <br/>Узнавай о новинках, участвуй <br/>в розыгрышах, получай призы!
                a.program__button.linkButton.linkButton--red href="#" Перейти в Instagram

        / .content__program.program.program--transparent
          p.program__name Лето AVON
          .program__item style="background: #f7f489 url(https://www.avon.ru/REPSuite/static/images/change_campaign/201909/nl/summer_m.jpg) no-repeat right bottom; -webkit-background-size: auto; background-size: auto; min-height: 148px; padding-top: 27px;"
            p.program__info Самая грандиозная <br/>НАРОДНАЯ КАМПАНИЯ уже началась!
            a.program__button.linkButton.linkButton--red href="https://my.avon.ru/leto" target="_blank" onClick="s.tl(this,'o','c12ts:rephome:program:summer_m')" Подробнее

        / .content__placeOrder.placeOrder
          p.placeOrder__title Как разместить заказ?
          .placeOrder__in
            a.placeOrder__instruction href="#" target="_blank" download="download"
              | СКАЧАТЬ ИНСТРУКЦИЮ
            a.placeOrder__button.linkButton.linkButton--redTransparent target="_blank" href="#" Смотреть видео

        / .content__program.program.program--transparent
          .program__cols
            .program__col
              p.program__name Стань Координатором
              .program__item.program__item--noIcon.program__item--coordinator
                p.program__info
                  | Хочешь получить <br/><i>260 000 ₽ ?</i>
                a.program__button.linkButton.linkButton--red href="#" Подробнее
            .program__col
              p.program__name Avon для друзей
              .program__item.program__item--friends
                .program__logoWrapper
                  img.program__logo src="static/images/gi3/banners/program_friends_icon.png"
                p.program__info
                  | Приглашай друзей — <br/>получай призы!
                a.program__button.linkButton.linkButton--red href="#" Подробнее

        / .content__banners
          .content__cols.colsFlex.colsFlex--2
            .colsFlex__col.offerProduct.offerProduct--surprise
              p.offerProduct__title Пакет-сюрприз
              p.offerProduct__info
                | Узнайте, что ждет <br/>Вас внутри, заказав <br/>его по суперцене.
              p.offerProduct__info Всего за 329₽
              a.offerProduct__link href="#" подробнее
            / .colsFlex__col.offerProduct.offerProduct--perfume
              p.offerProduct__title Скидка Представителя
              p.offerProduct__info Скидка до 50%
              a.offerProduct__link href="#" подробнее
            .colsFlex__col.offerProduct.offerProduct--jewelry
              p.offerProduct__title Лучшие цены сезона
              p.offerProduct__info Цены от 245₽
              a.offerProduct__link href="#" подробнее

        / .content__in.content__in--small
          h3.content__subtitle.content__subtitle--normal Успей купить
          .content__offer.offerTop
            .offerTop__bg
            .offerTop__about
              .offerTop__in
                span.offerTop__label УНИКАЛЬНОЕ ОНЛАЙН-ПРЕДЛОЖЕНИЕ
                p.offerTop__title
                  | ВЫГОДА <br/>В АРОМАТАХ
                a.offerTop__button.linkButton.linkButton--red href="#" Подробнее

    include scripts
    include footer
