doctype html
html lang="ru"
  head
    include head
    title AVON - home ts
  body
    include header

    .contentWrapper.contentWrapper--sidebar
      .contentWrapper__sidebar.sidebar
        .sidebar__item
          p.sidebar__title Мой аккаунт
          .sidebar__in
            p.sidebar__lastUpdate Последнее обновление 29/10/2018
            ul.sidebar__limits
              li.sidebar__limitsItem
                p.sidebar__limitsTitle Лимит
                span.sidebar__limitsAmount 80 000,00 ₽
              li.sidebar__limitsItem
                a.sidebar__link href="#" БАЛАНС
                span.sidebar__limitsAmount 12 560,00 ₽
              li.sidebar__limitsItem
                p.sidebar__limitsTitle Доступный лимит
                span.sidebar__limitsAmount 52 560,00 ₽
            a.sidebar__button.linkButton.linkButton--redTransparent href="#" Оплатить
        .sidebar__item
          p.sidebar__title Мои заказы
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" НЕЗАВЕРШЁННЫЕ ЗАКАЗЫ
            li.sidebar__menuItem
              a.sidebar__link href="#" ВОЗВРАТЫ
            li.sidebar__menuItem
              a.sidebar__link href="#" ОНЛАЙН ЗАКАЗЫ КЛИЕНТОВ
        .sidebar__item
          p.sidebar__title Новости
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" У ВАС 2 НОВЫХ СООБЩЕНИЯ
        .sidebar__item
          p.sidebar__title Для Представителей
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" ОНЛАЙН-ПРЕДЛОЖЕНИЯ
        .sidebar__item
          p.sidebar__title Настройки
          ul.sidebar__menu
            li.sidebar__menuItem
              a.sidebar__link href="#" ИЗМЕНИТЬ ПАРОЛь

      .contentWrapper__content.content.content--marginSm
        .content__in.content__in--links
          .content__cols.colsFlex.colsFlex--3
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="https://www.avon.ru/REPSuite/customerOnlineOrders.page" Разместить заказ
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="https://www.avon.ru/REPSuite/myProgram.page" Мои Программы
            .colsFlex__col
              a.content__button.linkButton.linkButton--redTransparent.linkButton--small href="" Онлайн-предложения

        .content__in.content__in--small
          h1.content__subtitle.content__subtitle--normal.content__subtitle--med Каталоги 12
          .content__cols.colsFlex.catalogInfo.catalogInfo--center
            .catalogInfo__col.colsFlex__col.colsFlex__col--2
              .catalogInfo__imgWrapper
                img.catalogInfo__img src="static/images/gi3/cat_ts_14-1.jpg" alt=""
                a.catalogInfo__button.linkButton.linkButton--redTransparent href="https://www.avon.ru/REPSuite/current_catalog.page" Каталоги для вас

        .content__in.content__in--small
          .content__cols.colsFlex.colsFlex--2
            a.colsFlex__col.offerProduct.offerProduct--in.offerProduct--textBlack.offerProduct--premiumClothes href="http://www.avon.ru/REPSuite/jsbrochure.page#page=136&campaign=14&year=19&index=01&zoom=0&type=core"
              p.offerProduct__title Одежда премиум <br/>качества
              p.offerProduct__info Любимые силуэты <br/>теперь в ВИСКОЗЕ
              span.offerProduct__link КУПИТЬ
            a.colsFlex__col.offerProduct.offerProduct--in.offerProduct--textBlack.offerProduct--bestPrices href="https://www.avon.ru/REPSuite/io_12.page"
              p.offerProduct__title Лучшие цены <br/>сезона
              p.offerProduct__info Цены от 245₽
              span.offerProduct__link КУПИТЬ

        .content__program.program.program--transparent
          p.program__name.program__name--textReg Лето AVON
          .program__item.program__item--banner style="background: #f7f489 url('static/images/gi3/banners/home-rodriguez.jpg') no-repeat right bottom; -webkit-background-size: cover; background-size: cover; min-height: 150px; padding-top: 24px;"
            p.program__info Не упусти шанс выиграть прогулку <br/>на яхте по Средиземноморью
            a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/Shkola-blogerov-s-Timurom.page" target="_blank" Подробнее

        .content__in.content__in--small
          h2.content__subtitle.content__subtitle--normal.content__subtitle--med Лучшие предложения каталога
          .content__galleryCat.galleryCat.js-gallery data-kind="single"

            .galleryCat__slide
              .galleryCat__item.galleryCat__item--common style="background-image: url('static/images/gi3/slider/ts-c14-home-banner-1.jpg');"
                .galleryCat__in style="padding-right: 0; background: none; box-shadow: none;"
                  span.galleryCat__label style="margin-bottom: 11px; background: #fae5a7; color: #181818;"
                    | НОВИНКА
                  p.galleryCat__info style="font: 900 27px/1.56 Roboto, Arial, sans-serif; letter-spacing: 0.54px; text-transform: uppercase;"
                    | гениальная тушь
                  p.galleryCat__info style="font: 900 41px/32px Roboto, Arial, sans-serif; letter-spacing: 2.87px;"
                    | 5<span style="font-size: 21px; text-transform: uppercase;">в</span>1
                  p.galleryCat__title style="margin-top: -3px; padding-bottom: 12px; border-color: rgba(112, 72, 23, 0.26);"
                    i style="font: 500 15px/1.4 Roboto, Arial, sans-serif; letter-spacing: 0.3px; text-transform: uppercase;"
                      | Эффект драматических ресниц
                  p.galleryCat__priceInfo
                    span.galleryCat__priceInfoOld style="color: #fff;"
                      | 595 ₽
                    span.galleryCat__priceInfoNew
                      | 299
                      i.currency ₽
                  a.galleryCat__button.linkButton.linkButton--black href="http://www.avon.ru/REPSuite/jsbrochure.page#page=4&campaign=14&year=19&index=01&zoom=0&type=core" Купить

            .galleryCat__slide
              .galleryCat__item style="background-image: url('static/images/gi3/slider/ts-c14-home-banner-2.jpg');"
                .galleryCat__in
                  span.galleryCat__label акция
                  p.galleryCat__title style="font-size: 30px;"
                    | ДЛЯ ТЕБЯ И ТВОИХ КЛИЕНТОВ
                    i style="margin-top: 10px;"
                      | Копи нотки — забирай суперпризы
                  p.galleryCat__info style="margin-bottom: 18px;"
                    | Звучи по-новому вместе с Avon
                  a.galleryCat__button.linkButton.linkButton--red href="http://www.avon.ru/REPSuite/jsbrochure.page#page=4&campaign=12&year=19&index=01&zoom=0&type=core" Подробнее

          .content__sep
          .content__program.program.program--transparent.program--noMargin
            .program__cols
              a.program__col href="http://www.avon.ru/REPSuite/jsbrochure.page#page=114&campaign=14&year=19&index=01&zoom=0&type=core"
                p.program__name.program__name--small Мастера бижутерии
                .program__item.program__item--bijouterie
                  .program__logoWrapper
                    include icons/bijouterie-black
                  p.program__info
                    | Ценности прошлого <br/>и мастерство настоящего <br/>С 1963 г.
                  span.program__link купить
              a.program__col href="http://www.avon.ru/REPSuite/jsbrochure.page#page=148&campaign=14&year=19&index=01&zoom=0&type=core"
                p.program__name.program__name--small Корректирующее бельё
                .program__item.program__item--shapewear
                  .program__logoWrapper
                    include icons/shapewear
                  p.program__info
                    | Встречай больше новинок <br/>со средним уровнем утяжки!
                  span.program__link купить

        .content__program.program.program--transparent
          .program__cols
            .program__col
              p.program__name.program__name--small Открой онлайн-магазин
              .program__item.program__item--noIcon.program__item--online
                p.program__info
                  | Хочешь увеличить продажи? <br/>Открой свой онлайн-магазин
                a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/open_shop.page" Открыть магазин
            .program__col
              p.program__name.program__name--small Avon для друзей
              .program__item.program__item--friends
                .program__logoWrapper
                  img.program__logo src="static/images/gi3/banners/program_friends_icon.png"
                p.program__info
                  | Приглашай друзей — <br/>получай призы!
                a.program__button.linkButton.linkButton--red href="https://www.avon.ru/REPSuite/avon_friends.page" Подробнее

        .content__newsBanners.newsBanners
          .newsBanners__cols.colsFlex.colsFlex--3
            .newsBanners__col.colsFlex__col style="background-color: #efdfdd;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_avon_on.png"
                  span.newsBanners__name
                    | Avon&nbsp;On
                p.newsBanners__info
                  | Мобильное приложение для&nbsp;Представителей
                a.newsBanners__link href="https://www.avon.ru/REPSuite/avon_on.page" ПОДРОБНЕЕ
            .newsBanners__col.colsFlex__col style="background-color: #c0e3e8;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_skills_icon.png"
                  span.newsBanners__name
                    | Skill&nbsp;Cup
                p.newsBanners__info
                  | Мобильное приложение «Обучение на ходу»
                a.newsBanners__link href="https://www.avon.ru/REPSuite/skill_cup.page" ПОДРОБНЕЕ
            .newsBanners__col.colsFlex__col style="background-color: #fde4bb;"
              .newsBanners__in
                .newsBanners__header
                  img.newsBanners__logo src="static/images/gi3/banners/program_insta_icon.png"
                  span.newsBanners__name
                    | Instagram
                p.newsBanners__info
                  | Узнавай о новинках, участвуй в розыгрышах, получай призы!
                a.newsBanners__link href="https://www.instagram.com/avonrussia/" ПЕРЕЙТИ В instagram

    include scripts
    include footer
