doctype html
html lang="ru"
  head
    include head
    title AVON - io_10
  body

    / link href="https://www.avon.ru/REPSuite/static/killer-offers/common/ko_multiple.css" rel="stylesheet" /
    script src="https://www.avon.ru/REPSuite/static/killer-offers/common/ko_multiple.js"

    .contentWrapper
      .contentWrapper__content.content

        a style="display: block; line-height: 0;" href="jsbrochure.page#page=0&campaign=10&year=20&index=01&zoom=0&type=internet"
          img.content__img border="0" src="https://www.avon.ru/REPSuite/static/images/20200731_banner_internet.jpg" /

        .bounty.js-bounty data-product-url="https://www.avon.ru/REPSuite/static/killer-offers/io/2020-10/products.js"
