doctype html
html lang="ru"
  head
    include head
    title AVON - io_10_test
  body

    include scripts
    / script src="https://www.avon.ru/REPSuite/static/killer-offers/common/ko_multiple.js"

    .contentWrapper
      .contentWrapper__content.content

        / .bounty.js-bounty data-product-url="https://www.avon.ru/REPSuite/static/killer-offers/for_testing/2020-16/products.js"

        / .bounty.js-bounty data-product-url="https://www.avon.ru/REPSuite/static/killer-offers/for_testing/2020-16/products_set.js"
