doctype html
html lang="ru"
  head
    include head
    title AVON - mascara_offer_rep_C16
  body
    .contentWrapper
      .contentWrapper__content.content

        h1.content__title
          | Специальное новогоднее предложение для тебя
        p.content__imgWrapper
          img.content__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/banners/programs/mascara_offer_rep_C16.jpg"

        .content__stepsProgram.stepsProgram
          .stepsProgram__cols
            .stepsProgram__col.stepsProgram__step
              .triangleShadow.triangleShadow--right
                  span.triangleShadow__helper
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | РАЗМЕСТИ ЗАКАЗ
                |  в&nbsp;Кампании 16/2020*
                br/
                |  с&nbsp;1 по&nbsp;29 декабря от&nbsp;999<i class="currency">₽</i>***
            .stepsProgram__col.stepsProgram__step
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | ЗАКАЖИ ПРИЗ
                | ***
                |  по коду
                span.stepsProgram__stepTitle
                  |  23406
                br/
                | всего за 1<i class="currency">₽</i>

        .content__in
          h2.content__title.content__title--small
            | Приз программы
          .content__bountyProgram.bountyProgram
            .bounty__itemLineGood.bountyGood
              .bountyGood__imgWrapper
                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/mascara_offer_rep_C16/23406.jpg"
              p.bountyGood__title.bountyGood__title--small
                | Тушь для ресниц
                br/
                | «Полный спектр» черная, 9мл
              p.bountyGood__code
                | Код для заказа:
                span.bountyGood__codeNumber<
                  | 23406
              p.bountyGood__price
                | 1
                i.bountyGood__priceCurrency
                  | ₽
              a.bountyGood__button href="javascript:ad_to_order('LN:23406;Q:1');"
                | Заказать

        p.content__text
          a.linkDownload href="https://www.avon.ru/REPSuite/static/download/mascara_offer_rep_C16.pdf" target="_blank"
            span.linkDownload__title
              | Скачать полные правила программы
            span.linkDownload__info
              | PDF 93 KB

        p.content__note
          span.content__noteHelper
            | *
          | Для Трендсеттерных территорий – в период действия каталогом 16/2020 и 2/2021
        p.content__note
          span.content__noteHelper
            | **
          | По базе для расчета скидки
        p.content__note
          span.content__noteHelper
            | ***
          | Приз - Товар со скидкой к цене, определенной в каталоге, стоимостью 1 руб. Стоимость приза не входит в базу для расчета скидки

    include scripts
