doctype html
html lang="ru"
  head
    include head
    title AVON - maximum_13
  body
    include header

    .contentWrapper
      .contentWrapper__content.content style="margin-bottom: 115px;"

        h1.content__subtitle.content__subtitle--bold.content__subtitle--center Максимум
        p.content__period Программа для Представителей в Кампаниях 13-15/2019*
        img.content__img src="static/images/gi3/banners/maximum_13.jpg"

        .content__results.results.results--transparent style="margin-bottom: 0;"
          .results__cols
            .results__col
              .results__in.results__in--big style="padding: 24px 20px 28px 104px;"
                .triangleShadow.triangleShadow--right style="bottom: 60%;"
                  span.triangleShadow__helper
                span.results__number.results__number--orange.results__number--small style="top: 20px; left: 20px; background-color: #d90180;" 1
                p.results__info
                  span.results__infoBold style="font-size: 22px;"
                    | РАЗМЕСТИ ЗАКАЗ
                  br/
                  | в Кампании 13 от 1 000<span class="currency">₽</span>
            .results__col
              .results__in.results__in--big style="padding: 24px 20px 28px 104px;"
                span.results__number.results__number--orange.results__number--small style="top: 20px; left: 20px; background-color: #502d9f;" 2
                p.results__info
                  span.results__infoBold style="font-size: 22px;"
                    | ВЫБЕРИ
                  br/
                  | (в зависимости от достигнутого уровня –
                  |  наибольшей суммы заказа** в кампании 13)
                  |  <span class="results__infoBold" style="font-size: 22px; text-transform: uppercase;">И закажи приз***</span> в кампании 14
                  |  всего за 30<span class="currency">₽</span> с заказом от 1 000<span class="currency">₽</span>

        .content__companyInfo.companyInfo.companyInfo--noBg
          h2.companyInfo__title style="font-size: 44px;" Уровень 1
          .companyInfo__bg
            .companyInfo__in
              p.companyInfo__subtitle
                | <strong style="font-size: 26px;">Твой заказ в Кампании 13 на <i style="font-size: 36px;">1 000<span class="currency">₽</span></i> — <i style="font-size: 36px;">2 999<span class="currency">₽</span>?</i></strong>
                br/
                | <span style="font-size: 22px;">В Кампании 14 закажи приз-сюрприз за <strong style="font-size: 24px;">30<i class="currency">₽</i></strong> с заказом от <strong style="font-size: 24px;">1 000<i class="currency">₽</i></strong></span>
                .productGuides__cols.colsFlex.colsFlex--wrap.colsFlex--center
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big style="padding-top: 35px;"
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/02226.jpg"
                      p.productGuides__description
                        | Приз-сюрприз
                      p.productGuides__code Код: <strong>02226</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:02226;Q:1');" Заказать

        .content__companyInfo.companyInfo.companyInfo--noBg
          h2.companyInfo__title style="font-size: 44px;" Уровень 2
          .companyInfo__bg
            .companyInfo__in
              p.companyInfo__subtitle
                | <strong style="font-size: 26px;">Твой заказ в Кампании 13 на <i style="font-size: 36px;">3 000<span class="currency">₽</span></i> — <i style="font-size: 36px;">4 999<span class="currency">₽</span>?</i></strong>
                br/
                | <span style="font-size: 22px;">В Кампании 14 выбери и закажи один из этих призовых наборов всего за <strong style="font-size: 24px;">30<i class="currency">₽</i></strong> с заказом от <strong style="font-size: 24px;">1 000<i class="currency">₽</i></strong></span>
                .productGuides__cols.colsFlex.colsFlex--wrap
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/14013.jpg"
                      p.productGuides__description
                        | Набор «Само совершенство»
                      p.productGuides__code Код: <strong>14013</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:14013;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/14011.jpg"
                      p.productGuides__description
                        | Набор «Абсолютная лёгкость»
                      p.productGuides__code Код: <strong>14011</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:14011;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/14315.jpg"
                      p.productGuides__description
                        | Набор «Розовый букет и&nbsp;кашемир»
                      p.productGuides__code Код: <strong>14315</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:14315;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/13989.jpg"
                      p.productGuides__description
                        | Набор «Естественное сияние»
                      p.productGuides__code Код: <strong>13989</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:13989;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17391.jpg"
                      p.productGuides__description
                        | Набор «Лето круглый год»
                      p.productGuides__code Код: <strong>17391</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17391;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/06106.jpg"
                      p.productGuides__description
                        | Набор «Сила кератина»
                      p.productGuides__code Код: <strong>06106</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:06106;Q:1');" Заказать

        .content__companyInfo.companyInfo.companyInfo--noBg
          h2.companyInfo__title style="font-size: 44px;" Уровень 3
          .companyInfo__bg
            .companyInfo__in
              p.companyInfo__subtitle
                | <strong style="font-size: 26px;">Твой заказ в Кампании 13 на <i style="font-size: 36px;">5 000<span class="currency">₽</span></i> — <i style="font-size: 36px;">9 999<span class="currency">₽</span>?</i></strong>
                br/
                | <span style="font-size: 22px;">В Кампании 14 выбери и закажи один из этих призовых наборов всего за <strong style="font-size: 24px;">30<i class="currency">₽</i></strong> с заказом от <strong style="font-size: 24px;">1 000<i class="currency">₽</i></strong></span>
                .productGuides__cols.colsFlex.colsFlex--wrap
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17394.jpg"
                      p.productGuides__description
                        | Набор «Весенний уход»
                      p.productGuides__code Код: <strong>17394</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17394;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17626.jpg"
                      p.productGuides__description
                        | Набор «Красота по-азиатски»
                      p.productGuides__code Код: <strong>17626</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17626;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17396.jpg"
                      p.productGuides__description
                        | Набор «Идеальная пара»
                      p.productGuides__code Код: <strong>17396</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17396;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17658.jpg"
                      p.productGuides__description
                        | Набор «Нефритовый цветок и&nbsp;шёлк»
                      p.productGuides__code Код: <strong>17658</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17658;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17429.jpg"
                      p.productGuides__description
                        | Набор «Ароматы притяжения»
                      p.productGuides__code Код: <strong>17429</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17429;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17660.jpg"
                      p.productGuides__description
                        | Набор «Люкс»
                      p.productGuides__code Код: <strong>17660</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17660;Q:1');" Заказать

        .content__companyInfo.companyInfo.companyInfo--noBg
          h2.companyInfo__title style="font-size: 44px;" Уровень 4
          .companyInfo__bg
            .companyInfo__in
              p.companyInfo__subtitle
                | <strong style="font-size: 26px;">Твой заказ в Кампании 13 на <i style="font-size: 36px;">10 000<span class="currency">₽</span></i> и более<i style="font-size: 36px;">?</i></strong>
                br/
                | <span style="font-size: 22px;">В Кампании 14 выбери и закажи один из этих призовых наборов всего за <strong style="font-size: 24px;">30<i class="currency">₽</i></strong> с заказом от <strong style="font-size: 24px;">1 000<i class="currency">₽</i></strong></span>
                .productGuides__cols.colsFlex.colsFlex--wrap
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17661.jpg"
                      p.productGuides__description
                        | Набор «Изысканность и&nbsp;уход»
                      p.productGuides__code Код: <strong>17661</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17661;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17666.jpg"
                      p.productGuides__description
                        | Набор «Забота и&nbsp;утонченность»
                      p.productGuides__code Код: <strong>17666</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17666;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17664.jpg"
                      p.productGuides__description
                        | Набор «Превосходны вместе»
                      p.productGuides__code Код: <strong>17664</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17664;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17669.jpg"
                      p.productGuides__description
                        | Набор «Роскошь и&nbsp;элегантность»
                      p.productGuides__code Код: <strong>17669</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17669;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17665.jpg"
                      p.productGuides__description
                        | Набор «Любовь навсегда»
                      p.productGuides__code Код: <strong>17665</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17665;Q:1');" Заказать
                  .productGuides__item.productGuides__item--max13.colsFlex__col.colsFlex__col--3
                    .productGuides__in.productGuides__in--big
                      .productGuides__imgWrapper
                        img.productGuides__img src="static/images/gi3/goods/max_c13/17990.jpg"
                      p.productGuides__description
                        | Набор «Комфорт и&nbsp;женственность»
                      p.productGuides__code Код: <strong>17990</strong>
                      p.productGuides__price
                        | 30
                        span.currency ₽
                      a.productGuides__button.linkButton.linkButton--redTransparent href="javascript:ad_to_order('LN:17990;Q:1');" Заказать

        p.content__text style="padding-top: 10px;"
          a.linkDownload href="" download="download"
            | Скачать полные правила программы
            br/
            i.linkDownload__size
              | PDF 1,5 МБ

        p.content__note
          | * Трендсеттерные территории - в период действия каталогов 15-17/2019
          br/
          | ** По базе для расчета скидки
          br/
          | *** Призовой товар или набор со скидкой в цене, определенной в каталоге, стоимостью 30 руб.

    include footer
