doctype html
html lang="ru"
  head
    include head
    title AVON - ярмарка призов 13
  body
    .contentWrapper
      .contentWrapper__content.content

        h1.content__title
          | Программа «Ярмарка призов»
        p.content__imgWrapper
          img.content__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/banners/programs/pp_yarmarka_prizov_13_2020.jpg"

        .content__stepsProgram.stepsProgram
          .stepsProgram__cols
            .stepsProgram__col.stepsProgram__step
              .triangleShadow.triangleShadow--right
                  span.triangleShadow__helper
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | РАЗМЕСТИ ЗАКАЗ
                |  в&nbsp;Кампании 13/2020*
                br/
                |  с&nbsp;22 сентября по&nbsp;19 октября от&nbsp;2000<i class="currency">₽</i>**
            .stepsProgram__col.stepsProgram__step
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | ЗАКАЖИ ПРИЗ
                | *** всего за 50<i class="currency">₽</i>
                br/
                |  в&nbsp;Кампании 14/2020* с&nbsp;20 октября по&nbsp;9&nbsp;ноября
                |  вместе с&nbsp;заказом от&nbsp;2000<i class="currency">₽</i>**

        .content__in
          h2.content__title.content__title--small
            | Приз программы
          h3.content__subtitle
            | Вкладывается один из вариантов приза в зависимости от наличия на сборочной линии
          .content__bounty.bounty.bounty--mb0
            .bounty__content
              .bounty__item.is-active
                .bounty__itemLine
                  .bounty__itemLineCols
                    .bounty__itemLineRow.bounty__itemLineRow--small
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/pp_yarmarka_prizov_13_2020/good_1.jpg"
                        p.bountyGood__title
                          | Туалетная вода Pur Blanca Blush
                          |  50мл + Тушь для ресниц
                          |  «Полный спектр» черная, 10мл.
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/pp_yarmarka_prizov_13_2020/good_2.jpg"
                        p.bountyGood__title
                          | Encanto Туалетная вода
                          |  «Белая орхидея и сандаловое дерево», 50мл
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/pp_yarmarka_prizov_13_2020/good_3.jpg"
                        p.bountyGood__title
                          | Туалетная вода Mesmerize
                          |  для нее, 50 мл
        .content__info
          | Код для заказа приза будет доступен в Кампании 14 (с 20 октября по 9 ноября)

        p.content__text
          a.linkDownload href="https://www.avon.ru/REPSuite/static/download/pp_yarmarka_prizov_13_2020.pdf" target="_blank"
            span.linkDownload__title
              | Скачать полные правила программы
            span.linkDownload__info
              | PDF 144 KB

        p.content__note
          span.content__noteHelper *
          | Для Трендсеттерных территорий – в период действия каталогов 15/2020 и 16/2020
        p.content__note
          span.content__noteHelper *
          | По базе для расчета скидки
        p.content__note
          span.content__noteHelper *
          | Приз - Товар со скидкой к цене, определенной в каталоге, стоимостью 50 руб. Стоимость приза не входит в базу для расчета скидки

    include scripts
