doctype html
html lang="ru"
  head
    include head
    title AVON - presidents' club program
  body
    include header

    .contentWrapper
      .contentWrapper__content.content

        h1.content__title.content__title--big Президентский Клуб
        .content__results.results.results--total
          .results__in
            span.results__label ваш результат
            p.results__info
              | Вы достигли уровня <strong>ЗОЛОТО</strong>
            p.results__info
              | Ваш лимит на заказ увеличен <strong>до 80 000 ₽</strong>
            p.results__info
              | Вы можете заказать <strong>3 ПРИЗА</strong>
            .results__sales
              p.results__info Ваш объём продаж за годовой цикл:
              p.results__sum
                | 145 000 <sub>₽</sub>

        h2.content__subtitle.content__subtitle--bold.content__subtitle--center.content__subtitle--marginTop
          | Закажите свои призы!
        p.content__attention
          | Призы можно выбрать и заказать в период Кампаний 07-12/2019

        .content__productGuides.productGuides.productGuides--prizes.bounty__killers data-bounty="in-page"
          h2.productGuides__title Список призов
          .productGuides__cols.colsFlex.colsFlex--wrap
            .productGuides__item.colsFlex__col.colsFlex__col--3.killer
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_1.png"
                p.productGuides__description Набор <br/>«Красное море»
                .killer-has-variants
                  .variants-title выберите оттенок
                  .variants-list.variants-list-colors data-variantstype="colors"
                    .variant.bounty__activeElement data-fsc="22666" data-variant="Лиловая звезда"
                      img src="static/images/gi3/colors/22666.jpg"
                    .variant data-fsc="22714" data-variant="Эпичный розовый"
                      img src="static/images/gi3/colors/22714.jpg"
                    .variant data-fsc="22715" data-variant="Сияющий мокко"
                      img src="static/images/gi3/colors/22715.jpg"
                    .variant data-fsc="22730" data-variant="Сливовый взрыв"
                      img src="static/images/gi3/colors/22730.jpg"
                    .variant data-fsc="22805" data-variant="Искрящийся нюдовый"
                      img src="static/images/gi3/colors/22805.jpg"
                    .variant data-fsc="23051" data-variant="Космическая роза"
                      img src="static/images/gi3/colors/23051.jpg"
                    .variant data-fsc="23063" data-variant="Розовый всплеск"
                      img src="static/images/gi3/colors/23063.jpg"
                    .variant data-fsc="23066" data-variant="Сахарная вата"
                      img src="static/images/gi3/colors/23066.jpg"
                    .variant data-fsc="23083" data-variant="Мерцающий красный"
                      img src="static/images/gi3/colors/23083.jpg"
                    .variant data-fsc="23091" data-variant="Оранжевая вспышка"
                      img src="static/images/gi3/colors/23091.jpg"
                    .variant data-fsc="23095" data-variant="Мистический коралл"
                      img src="static/images/gi3/colors/23095.jpg"
                    .variant data-fsc="23096" data-variant="Орбитальный беж"
                      img src="static/images/gi3/colors/23096.jpg"
                    .variant data-fsc="23118" data-variant="Нюдовая иллюзия"
                      img src="static/images/gi3/colors/23118.jpg"
                    .variant data-fsc="23236" data-variant="Сияющий нюд"
                      img src="static/images/gi3/colors/23236.jpg"
                  .variants-chosen
                    span.text
                      | Выбранный оттенок:&nbsp;
                    span.chosen Сияющий мокко
                p.productGuides__code.killer-fsc
                  | Код: <strong class="fsc">27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent.killer-button href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_2.png"
                p.productGuides__description Набор <br/>«Белое море»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_3.png"
                p.productGuides__description Набор <br/>«Карибское море»
                .killer-has-variants
                  .variants-title выберите оттенок
                  .variants-list.variants-list-colors data-variantstype="colors"
                    .variant.bounty__activeElement data-fsc="22666" data-variant="Лиловая звезда"
                      img src="static/images/gi3/colors/22666.jpg"
                    .variant data-fsc="22714" data-variant="Эпичный розовый"
                      img src="static/images/gi3/colors/22714.jpg"
                    .variant data-fsc="22715" data-variant="Сияющий мокко"
                      img src="static/images/gi3/colors/22715.jpg"
                    .variant data-fsc="22730" data-variant="Сливовый взрыв"
                      img src="static/images/gi3/colors/22730.jpg"
                    .variant data-fsc="22805" data-variant="Искрящийся нюдовый"
                      img src="static/images/gi3/colors/22805.jpg"
                    .variant data-fsc="23051" data-variant="Космическая роза"
                      img src="static/images/gi3/colors/23051.jpg"
                    .variant data-fsc="23063" data-variant="Розовый всплеск"
                      img src="static/images/gi3/colors/23063.jpg"
                    .variant data-fsc="23066" data-variant="Сахарная вата"
                      img src="static/images/gi3/colors/23066.jpg"
                    .variant data-fsc="23083" data-variant="Мерцающий красный"
                      img src="static/images/gi3/colors/23083.jpg"
                    .variant data-fsc="23091" data-variant="Оранжевая вспышка"
                      img src="static/images/gi3/colors/23091.jpg"
                    .variant data-fsc="23095" data-variant="Мистический коралл"
                      img src="static/images/gi3/colors/23095.jpg"
                    .variant data-fsc="23096" data-variant="Орбитальный беж"
                      img src="static/images/gi3/colors/23096.jpg"
                    .variant data-fsc="23118" data-variant="Нюдовая иллюзия"
                      img src="static/images/gi3/colors/23118.jpg"
                    .variant data-fsc="23236" data-variant="Сияющий нюд"
                      img src="static/images/gi3/colors/23236.jpg"
                  .variants-chosen
                    span.text
                      | Выбранный оттенок:&nbsp;
                    span.chosen Сияющий мокко
                p.productGuides__code.killer-fsc
                  | Код: <strong class="fsc">27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_4.png"
                p.productGuides__description Набор <br/>«Море космонавтов»
                .killer-has-variants
                  .variants-title выберите оттенок
                  .variants-list.variants-list-colors data-variantstype="colors"
                    .variant.bounty__activeElement data-fsc="22666" data-variant="Лиловая звезда"
                      img src="static/images/gi3/colors/22666.jpg"
                    .variant data-fsc="22714" data-variant="Эпичный розовый"
                      img src="static/images/gi3/colors/22714.jpg"
                    .variant data-fsc="22715" data-variant="Сияющий мокко"
                      img src="static/images/gi3/colors/22715.jpg"
                    .variant data-fsc="22730" data-variant="Сливовый взрыв"
                      img src="static/images/gi3/colors/22730.jpg"
                    .variant data-fsc="22805" data-variant="Искрящийся нюдовый"
                      img src="static/images/gi3/colors/22805.jpg"
                    .variant data-fsc="23051" data-variant="Космическая роза"
                      img src="static/images/gi3/colors/23051.jpg"
                    .variant data-fsc="23063" data-variant="Розовый всплеск"
                      img src="static/images/gi3/colors/23063.jpg"
                    .variant data-fsc="23066" data-variant="Сахарная вата"
                      img src="static/images/gi3/colors/23066.jpg"
                    .variant data-fsc="23083" data-variant="Мерцающий красный"
                      img src="static/images/gi3/colors/23083.jpg"
                    .variant data-fsc="23091" data-variant="Оранжевая вспышка"
                      img src="static/images/gi3/colors/23091.jpg"
                    .variant data-fsc="23095" data-variant="Мистический коралл"
                      img src="static/images/gi3/colors/23095.jpg"
                    .variant data-fsc="23096" data-variant="Орбитальный беж"
                      img src="static/images/gi3/colors/23096.jpg"
                    .variant data-fsc="23118" data-variant="Нюдовая иллюзия"
                      img src="static/images/gi3/colors/23118.jpg"
                    .variant data-fsc="23236" data-variant="Сияющий нюд"
                      img src="static/images/gi3/colors/23236.jpg"
                  .variants-chosen
                    span.text
                      | Выбранный оттенок:&nbsp;
                    span.chosen Сияющий мокко
                p.productGuides__code.killer-fsc
                  | Код: <strong class="fsc">27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_5.png"
                p.productGuides__description Набор <br/>«Море фиджи»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize.productGuides__in--link
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_6.png"
                p.productGuides__description Набор <br/>«Жёлтое море»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
                a.productGuides__link href="#" Описание набора
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_7.png"
                p.productGuides__description Бесплатная доставка <br/>На весь этап
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_8.png"
                p.productGuides__description Скидка 35% <br/>на 1 заказ
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_9.png"
                p.productGuides__description Скидка 500 ₽ <br/>на 1 заказ
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_10.png"
                p.productGuides__description Подарочный сертификат <br/>Hoff
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_11.png"
                p.productGuides__description Подарочный сертификат <br/>«Детский мир»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_12.png"
                p.productGuides__description Подарочный сертификат <br/>Ozon
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_13.png"
                p.productGuides__description Подарочный сертификат <br/>Sunlight
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_14.png"
                p.productGuides__description Подарочный сертификат <br/>«Евросеть»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать
            .productGuides__item.colsFlex__col.colsFlex__col--3
              .productGuides__in.productGuides__in--prize
                .productGuides__imgWrapper
                  img.productGuides__img src="static/images/gi3/prizes/prizes_15.png"
                p.productGuides__description Подарочный сертификат <br/>«Спортмастер»
                p.productGuides__code Код: <strong>27387</strong>
                a.productGuides__button.linkButton.linkButton--redTransparent href="#" Заказать

        .content__privileges.privileges
          h3.privileges__title Победители 2-го этапа автоматически получают привилегии:
          .privileges__cols.colsFlex
            .colsFlex__col.colsFlex__col--3.privileges__col
              .privileges__colIn
                .privileges__imgWrapper
                  include icons/headset
                p.privileges__colTitle Телефонная линия
                p.privileges__info
                  | Бесплатная выделенная <br/>телефонная линия<br/>
                  |  <a href="tel:88007007008">8&nbsp;800&nbsp;700&nbsp;7008</a>
            .colsFlex__col.colsFlex__col--3.privileges__col
              .privileges__colIn
                .privileges__imgWrapper
                  include icons/sms
                p.privileges__colTitle Пакет бизнес СМС
                p.privileges__info Бесплатная подписка <br/>на «Пакет Бизнес СМС»
            .colsFlex__col.colsFlex__col--3.privileges__col
              .privileges__colIn
                .privileges__imgWrapper
                  include icons/catalog
                p.privileges__colTitle Набор каталогов
                p.privileges__info Набор каталогов <br/>по специальной цене

        h3.content__subtitle.content__subtitle--bold.content__subtitle--center.content__subtitle--marginTop
          | Годовые призы и привилегии
        p.content__period Период действия 13/2018 — 12/2019
        .content__prizes.prizes
          .prizes__cols.prizes__header
            .prizes__col.prizes__col--place
              .prizes__colIn
                .prizes__title Уровень
            .prizes__col
              .prizes__colIn
                .prizes__title Условия
            .prizes__col
              .prizes__colIn
                .prizes__title Призы
          .prizes__cols.prizes__content
            .prizes__col.prizes__col--place
              .prizes__colIn
                p.prizes__placeTitle Серебро
                span.prizes__place.prizes__place--silver 1
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Выполните минимальный объём продаж
                  br/
                  | за Кампании 13/2018-12/2019
                p.prizes__sum
                  | 165 000
                  sub ₽
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Вы получите Сертификат или скидку на <strong>1000 ₽</strong>
                  br/
                  | +
                  br/
                  | Набор новинок 2019 состоящий из 2-х продуктов
          .prizes__cols.prizes__content
            .prizes__col.prizes__col--place
              .prizes__colIn
                p.prizes__placeTitle Золото
                span.prizes__place.prizes__place--gold 2
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Выполните минимальный объём продаж
                  br/
                  | за Кампании 13/2018-12/2019
                p.prizes__sum
                  | 330 000
                  sub ₽
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Вы получите Сертификат или скидку на <strong>5000 ₽</strong>
                  br/
                  | +
                  br/
                  | Набор новинок 2019 состоящий из 5-х продуктов
          .prizes__cols.prizes__content
            .prizes__col.prizes__col--place
              .prizes__colIn
                p.prizes__placeTitle Платина
                span.prizes__place.prizes__place--platinum 3
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Выполните минимальный объём продаж
                  br/
                  | за Кампании 13/2018-12/2019
                p.prizes__sum
                  | 1050 000
                  sub ₽
            .prizes__col
              .prizes__colIn
                p.prizes__info
                  | Вы получите Сертификат или скидку на <strong>10 000 ₽</strong>
                  br/
                  | +
                  br/
                  | Набор новинок 2019 состоящий из 7-х продуктов

        p.content__download
          a.content__downloadLink download="download" href="" Скачать подробные правила программы

    include scripts
    include footer
