.form {
  &__in {
    padding: 27px 16.8% 0 19.4%;

    &--cols {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    &--submit {
      margin: 49px 0 0;
      padding-bottom: 78px;
      border-top: 1px solid $white-light;
    }
  }

  &__content {
    flex-basis: calc(100% - 356px);
  }

  &__additional {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-basis: 325px;
    margin-top: 26px;

    .form__balance {
      flex-basis: 100%;
    }

    .form__logos {
      flex-basis: 100%;
    }

    .balance__info {
      flex-basis: 100%;
    }
  }

  &__block {
    position: relative;

    &--checkbox {
      .form__label {
        padding-left: 35px;
      }

      .form__field {
        display: none;
      }
    }

    &--center {
      text-align: center;

      .form__label {
        display: inline-block;
      }
    }

    &--sum {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .form__label {
        &:first-child {
          flex-basis: calc(100% - 132px);
        }

        &:last-child {
          flex-basis: 120px;
        }
      }

      .form__labelTitle {
        margin-right: -132px;
      }
    }

    &--cvv {
      width: 84px;
      text-align: center;

      .form__labelTitle,
      .form__blockInfo {
        margin-bottom: 5px;
        font: 400 11px/1.45 $font-montserrat;
        text-transform: uppercase;
        color: $gray;
      }

      .form__blockInfo {
        margin: 6px 0 0;
      }

      .form__field {
        height: 50px;
        font: 24px/50px $font-montserrat;
        text-align: center;
        border: solid 1px $white-light;
      }
    }

    &--tooltip {
      position: relative;
    }

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__label {
    position: relative;
    display: block;
    font-size: 0;

    &--noCursor {
      .form__labelDimension,
      .form__labelTitle {
        cursor: default;
      }
    }

    &--tooltip  {
      padding-right: 30px;

      .form__labelInfo {
        cursor: pointer;
      }
    }
  }

  &__labelIcon {
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid $gray-light;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $transition-normal, border-color $transition-normal;

    &:hover {
      border-color: $gray;
    }

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      @include background-image(checkmark, 12px, 10px);
      @include hide();
    }
  }

  &__labelQuestion {
    position: absolute;
    top: 0px;
    right: 0;
    @include background-image(question, 21px, 20px);
    cursor: pointer;
    transition: background-image $transition-normal;

    &:hover {
      @include background-image(question-purple, 21px, 20px);
    }
  }

  &__labelNote {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 11px;
    font: 400 12px/1.25 $font-montserrat;
    color: #707677;
  }

  &__labelTitle {
    display: block;
    margin-bottom: 7px;
    font: 500 16px/1.2 $font-montserrat;
    cursor: pointer;
  }

  &__labelInfo {
    font: 14px/1.29 $font-montserrat;
    color: $gray-light;

    a {
      color: $gray-light;
      border-bottom: 1px solid $gray-light;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    &--small {
      font: 12px/1.67 $font-montserrat;
      color: $gray;
    }

    &--mt15 {
      margin-top: 15px;
    }
  }

  &__labelDimension {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font: 14px/1.2 $font-montserrat;
    color: $gray-light;
    cursor: pointer;
  }

  &__field {
    width: 100%;
    height: 56px;
    padding: 0 17px;
    font: 700 16px/56px $font-montserrat;
    color: $gray;
    background-color: $white;
    border: solid 1px $gray-light;
    border-radius: 4px;
    transition: border-color $transition-fast;

    &:focus {
      border-color: $purple;
    }

    &[readonly] {
      border-color: $gray-light;
    }

    &:checked ~ .form__labelIcon {
      background-color: $purple;
      border-color: $purple;

      &:before {
        @include show();
      }
    }

    .form__labelDimension ~ & {
      padding-right: 50px;
    }

    &--textBold {
      font-weight: 700;
    }
  }

  &__select {
    position: relative;
    width: 90px;
    height: 50px;
    padding: 0 15px;
    font: 16px/50px $font-montserrat;
    border-radius: 4px;
    background: #f6f9f9 url('../images/gi3/sprites/sprite.svg#arrow-dropdown') no-repeat 95% center;
    background-size: 24px auto;

    option[disabled] {
      color: $gray-light;
    }
  }

  &__cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px auto 0;

    &--mt40 {
      margin-top: 40px;
    }
  }

  &__col {
    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 5px;
    }
  }

  &__linkFaq {
    position: relative;
    display: inline-block;
    font: 500 14px/1.43 $font-montserrat;
    color: $purple;

    &--question {
      &:before {
        top: -4px;
        left: -40px;
        @include background-image(question, 24px, 24px);
        transition: background-image $transition-normal;
      }

      &:hover {
        &:before {
          @include background-image(question-red, 24px, 24px);
        }
      }
    }

    &--card {
      &:before {
        top: -2px;
        left: -40px;
        @include background-image(credit-card, 29px, 20px);
      }
    }

    &:before {
      content: '';
      position: absolute;
    }

    &:hover {
      color: $purple-hover;
    }
  }

  &__button {
    width: 250px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__logos {
    display: flex;
    justify-content: flex-end;
    font-size: 0;
  }

  &__securedImg {
    max-width: 185px;
    margin-right: 17px;
  }

  &__tooltip {
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 100%;
    width: 360px;
    margin-left: 32px;
    padding: 15px 20px;
    font: 12px/1.67 $font-montserrat;
    text-align: left;
    color: $gray;
    border: solid 1px #e5eaea;
    border-radius: 4px;
    background-color: #fffaed;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1);
    @include hide();

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 27px;
      right: 100%;
      border: 7px solid transparent;
      border-top: 7px solid #fffaed;
      border-right: 7px solid #fffaed;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 26px;
      right: 100%;
      border: 8px solid transparent;
      border-top: 8px solid #e5eaea;
      border-right: 8px solid #e5eaea;
    }

    .form__block--tooltip:hover &,
    .form__labelQuestion:hover & {
      @include show();
    }

    &--center {
      margin-top: 7px;
      margin-left: 15px;
      top: 50%;
      transform: translateY(-50%);

      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__tooltipInfo {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__tooltipLink {
    color: $purple;

    &:hover {
      color: $purple-hover;
    }
  }

  &__icon {
    .icon {
      margin-right: 35px;
    }

    &--yandex .icon {
      max-width: 241px;
      max-height: 46px;
    }

    &--alfa .icon {
      max-width: 230px;
    }
  }
}

@media ($tablet) {
  .form {
    &__in {
      padding-left: 20px;
      padding-right: 20px;

      &--submit {
        margin-left: 0;
      }
    }

    &__labelQuestion {
      .form__tooltip {
        top: 100%;
        left: auto;
        right: 100%;
        margin: 10px -65px 0 0;
        width: 270px;
        transform: none;
        box-shadow: 0px -3px 10px 0 rgba(0, 0, 0, 0.1);

        &:before {
          top: auto;
          bottom: 100%;
          right: 53px;
          left: auto;
          transform: rotate(90deg);
        }

        &:after {
          top: auto;
          bottom: 100%;
          right: 52px;
          left: auto;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media ($mobile) {
  .form {
    &__in {
      &--cols {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .form__additional {
          flex-basis: auto;
        }
      }

      &--submit {
        margin-top: 30px;
        padding-bottom: 20px;
      }
    }

    &__content {
      flex-basis: 100%;
    }

    &__additional {
      flex-basis: 280px;
      margin: 0 auto 30px;
    }

    &__cols {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &--flex {
        flex-wrap: wrap;
        margin: 0;
      }
    }

    &__block {
      &--sum {
        .form__label {
          &:first-child {
            flex-basis: calc(100% - 92px);
          }

          &:last-child {
            flex-basis: 80px;
          }
        }

        .form__labelTitle {
          margin-right: -92px;
        }
      }
    }

    &__button {
      width: 100%;
    }

    &__linkFaq {
      text-align: left;
    }

    &__securedImg {
      margin: 0 auto 15px;
    }

    &__tooltip {
      top: 100%;
      left: 0;
      width: 100%;
      margin: 5px 0 0px;
      padding: 15px 20px;
      box-shadow: 0px -3px 10px 0 rgba(0, 0, 0, 0.1);

      &:before {
        top: auto;
        bottom: 100%;
        left: 20px;
        transform: rotate(90deg);
      }

      &:after {
        top: auto;
        bottom: 100%;
        left: 19px;
        transform: rotate(90deg);
      }

      br {
        display: none;
      }
    }
  }
}
