.formDropdown {
  &__title {
    position: absolute;
    right: 20px;
    bottom: 19px;
    display: inline-block;
    font: 700 11px/12px $font-montserrat;
    color: $purple;
    cursor: pointer;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: -3px 0 0 4px;
      @include background-image(arrow-dropdown-gray, 10px, 6px);
      transition: transform $transition-normal;
    }

    &.is-active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    display: none;
    z-index: 99;
    position: absolute;
    margin-top: 4px;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__list {
    padding: 8px;
    max-height: 184px;
    overflow: auto;
    box-shadow: 0 2px 24px 0 #e1e1e1;
    background-color: $white;
    border-radius: 3px;
  }

  &__listItem {
    padding: 16px 15px;
    font: 500 24px/1 $font-montserrat;
    color: $black;
    cursor: pointer;
    transition: background-color $transition-normal;

    &:hover {
      background-color: #f6f9f9;
    }
  }
}
