p.contentPayments__note
  | Сервис обеспечивает <span>ООО НКО «ПэйЮ»</span>
  br/
  | Служба поддержки PayU работает круглосуточно: <a href="tel:84996492009">+7 (499) 649-20-09</a>; <a href="tel:88002003262">8-800-200-32-62</a> (звонок бесплатный), <a href="mailto:support@payu.ru">support@payu.ru</a>
