doctype html
html lang="ru"
  head
    include head
    title AVON - index
  body
    include header

    .contentWrapper
      .contentWrapper__content.content.content--marginSm
        h1.content__subtitle
          | go to index_ts & index_nl

    include footer
