.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 67px 120px 40px;
  min-height: 380px;
  color: $white;

  &--share {
    background: url('../images/gi3-20/banners/share.jpg') no-repeat center center/cover;
  }

  &--interactiveCatalogs {
    background: url('../images/gi3-20/banners/interactive-catalogs.jpg') no-repeat center center/cover;
  }

  &--charity {
    background: url('../images/gi3-20/banners/charity.jpg') no-repeat center center/cover;
  }

  &--easyStart {
    background: url('../images/gi3-20/banners/easy-start.jpg') no-repeat center center/cover;
  }

  &--fragranceClub {
    background: url('../images/gi3-20/banners/fragrance-club.jpg') no-repeat center center/cover;
  }

  &--anew {
    background: url('../images/gi3-20/banners/anew-club.jpg') no-repeat center center/cover;
  }

  &--presidentClub {
    background: url('../images/gi3-20/banners/president-club.jpg') no-repeat center center/cover;
  }

  &--avonOn {
    display: block;
    padding: 32px 320px 30px 240px;
    min-height: 0;
    background-color: #680255;

    .banner__img {
      position: absolute;
      left: 40px;
      top: 27px;
      max-width: 160px;
    }

    .banner__info {
      max-width: none;
    }

    .banner__title {
      margin-bottom: 0;
      font: 700 20px/1.44 $font-montserrat;
      text-transform: uppercase;
    }

    .banner__text {
      font: 18px/1.44 $font-montserrat;
    }

    .banner__link {
      position: absolute;
      top: 42px;
      right: 43px;
    }
  }

  &__in {
    flex-basis: 100%;
  }

  &__title {
    margin-bottom: 20px;
    font: 900 60px/1.27 $font-averta-black;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $white;
  }

  &__titleTransparent {
    -webkit-text-stroke: 2px $white;
    color: transparent;

    .ie & {
      color: $white;
    }
  }

  &__info {
    max-width: 440px;
    font: 700 20px/1.4 $font-montserrat;

    &--big {
      max-width: 624px;
    }
  }
}
