.footer {
  &__bg {
    padding: 0 20px;
    background-color: #344447;

    &--dark {
      background-color: #23363A;
    }
  }

  &__in {
    margin: 0 auto;
    width: 1204px;
  }

  &__cols {
    margin: 0 auto;
    padding-bottom: 54px;
    max-width: 850px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__titleWrapper {
    padding: 70px 0 65px;
    text-align: center;
  }

  .icon--logo {
    width: 106px;
    height: 22px;
  }

  &__menu {
    flex-basis: auto;
  }

  &__copyright {
    padding: 26px 0 24px;
    font: 14px/29px $roboto;
    letter-spacing: 0.44px;
    text-align: center;
    color: rgba(228, 237, 237, 0.6);
  }
}

.footerMenu {
  &__title {
    margin-bottom: 30px;
    padding-right: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $white;
  }

  &__list {
    padding-right: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    font-size: 14px;
    letter-spacing: 0.44px;
    color: $white-light;

    &:hover {
      color: $white;
    }
  }
}
