doctype html
html lang="ru"
  head
    include head
    title AVON - anew_club_next_step_C10
  body
    .contentWrapper
      .contentWrapper__content.content

        include banners/anew_club

        .content__tabs.tabs
          .content__in
            .tabs__links
              span.tabs__link.tabs__link--2.is-active
                span.tabs__linkIn
                  | Следующий этап
                  i.tabs__linkPeriod
                    | В период Кампаний 10-13/2020
              a.tabs__link.tabs__link--2 href="http://www.avon.ru/REPSuite/anew_club_C10.page"
                span.tabs__linkIn
                  | Забирай призы
                  i.tabs__linkPeriod
                    | По результатам Кампаний 5-9/2020

            .tabs__content
              .content__rulesAnew.rulesAnew
                h2.rulesAnew__title
                  | Правила программы
                .rulesAnew__cols
                  .rulesAnew__col
                    .rulesAnew__colIn
                      .rulesAnew__colIconWrapper
                        include icons/star-white
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Покупай продукты anew&nbsp;
                          br/
                          | и&nbsp;зарабатывай баллы
                        br/
                        | В период кампаний 10-13/2020*
                      p.rulesAnew__colAttention
                        | 5 баллов – 1 уровень
                        br/
                        | 10 баллов – 2 уровень
                        br/
                        | 15 баллов – 3 уровень
                  .rulesAnew__col
                    .rulesAnew__colIn
                      .rulesAnew__colIconWrapper
                        include icons/gift-card-white
                      p.rulesAnew__colText
                        span.rulesAnew__colTextBold
                          | Забирай призы
                        br/
                        | В период кампаний 14-15/2020**

              .content__prizesList.prizesList
                h3.prizesList__title
                  | Шаг 1 – зарабатывай баллы
                .prizesList__note.prizesList__note--small
                  | Получай баллы за покупку продуктов Anew
                .prizesList__cols
                  .prizesList__item
                    .prizesList__itemImgWrapper
                      img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_1.jpg"
                    p.prizesList__itemDescription
                      | 3 БАЛЛА <br/>за Protinol
                  .prizesList__item
                    .prizesList__itemImgWrapper
                      img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_2.jpg"
                    p.prizesList__itemDescription
                      | 2 БАЛЛА <br/>за любую сыворотку
                  .prizesList__item
                    .prizesList__itemImgWrapper
                      img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_3.jpg"
                    p.prizesList__itemDescription
                      | 1 БАЛЛ <br/>за все другие продукты*
                p.content__note
                  span.content__noteHelper
                    | *
                  | За исключением тканевой маски 36439 – балл начисляется при заказе от 3 шт в одном заказе.
                  br/
                  | Баллы не начисляются за покупку пробных образцов и мини-версий Anew

                h3.prizesList__title
                  | Шаг 2 – забирай призы
                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 1
                  | Набери 5 баллов – закажи один крем для лица Anew по специальной цене 150
                  i.currency
                    | ₽
                .prizesList__bounty.prizesList__bounty--noCode.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_10/anew_10_next_4.jpg"
                              p.bountyGood__title
                                | Крем для лица
                                br/
                                | «Омоложение. Превосходство»,
                                br/
                                | 50 мл
                              / p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 000
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 1300
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 150
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button.is-disabled
                                / href="javascript:ad_to_order('LN:000;Q:1');"
                                | Заказать

                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 2
                  | Набери 10 баллов – закажи один уникальный Travel набор
                  |  из&nbsp;10 пробных образцов Протинола по&nbsp;специальной цене 150
                  i.currency
                    | ₽
                .prizesList__bounty.prizesList__bounty--noCode.prizesList__bounty--singleFullImg.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_5.jpg"
                              p.bountyGood__title
                                | Сыворотка для лица
                                br/
                                | «Инновация»
                                br/
                                | 10 x 1,3 мл
                              / p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 000
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 3100
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 150
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button.is-disabled
                                / href="javascript:ad_to_order('LN:000;Q:1');"
                                | Заказать

                .prizesList__note
                  p.prizesList__noteTitle
                    | Уровень 3
                  | Набери 15 баллов – закажи один специальный набор: крем-перфектор +
                  |  крем для губ и кожи вокруг глазпо специальной цене 200₽
                  i.currency
                    | ₽
                .prizesList__bounty.prizesList__bounty--noCode.bounty
                  .bounty__content
                    .bounty__item.is-active
                      .bounty__itemLine
                        .bounty__itemLineCols
                          .bounty__itemLineRow
                            .bounty__itemLineGood.bountyGood
                              .bountyGood__imgWrapper
                                img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/anew/anew_10/anew_10_next_6.jpg"
                              p.bountyGood__title
                                | Крем для лица «Заряд энергии.
                                |  Совершенство. Мгновенное выравнивание», 30 мл
                                br/
                                | +
                                br/
                                | Крем для губ и кожи вокруг глаз
                                |  «Клеточное возрождение», 15 мл
                              / p.bountyGood__code
                                | Код для заказа:
                                span.bountyGood__codeNumber<
                                  | 000
                              p.bountyGood__price
                                span.bountyGood__priceOld
                                  | 1700
                                  i.bountyGood__priceCurrency
                                    | ₽
                                | 200
                                i.bountyGood__priceCurrency
                                  | ₽
                              a.bountyGood__button.is-disabled
                                / href="javascript:ad_to_order('LN:000;Q:1');"
                                | Заказать

          .content__in
            .content__prizesList.prizesList
              h3.prizesList__title
                | Супер выгода
              .prizesList__note.prizesList__note--small.prizesList__note--green
                | Итого, набрав 15 баллов, Представитель достигает 3 уровня и получает доступ ко всем призам
              .prizesList__cols
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_7.jpg"
                  p.prizesList__itemDescription
                    | Призы за 1 уровень
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_8.jpg"
                  p.prizesList__itemDescription
                    | Призы за 2 уровень
                .prizesList__item
                  .prizesList__itemImgWrapper
                    img.prizesList__itemImg src="https://www.avon.ru/REPSuite/static/images/gi3/goods/anew/anew_10/anew_10_next_9.jpg"
                  p.prizesList__itemDescription
                    | Призы за 3 уровень

          p.content__note
            | В акции не участвуют товары интернет-распродаж, мини-версии и пробные образцы.
          p.content__note
            span.content__noteHelper
              | *
            | Для Представителей-трендсеттеров по каталогам кампаний 12-15/2020
          p.content__note
            span.content__noteHelper
              | **
            | Для Представителей-трендсеттеров призы доступны в период кампаний 16-17/2020
          p.content__note
            span.content__noteHelper
              | (1)
            | Ты можешь заказать только один приз каждого уровня в&nbsp;течение
            |  2&nbsp;кампаний. Цена приза не&nbsp;подлежит скидке Представителя.
            br/
            | Количество призов ограничено. Организатор программы оставляет
            |  за&nbsp;собой право заменить призы, представленные на&nbsp;странице
            |  на&nbsp;равноценные призы по&nbsp;своему усмотрению. Организатором
            |  акции является ООО «Эйвон Бьюти Продактс Компани»,
            |  ОГРН 103770806732. Участниками могут быть физические лица,
            |  выполнившие условия программы. Обладателями призовых наборов
            |  не&nbsp;могут стать Представители c&nbsp;просроченной задолженностью
            |  и&nbsp;c&nbsp;задолженностью по&nbsp;оплате заказа, сделанного
            |  в&nbsp;период проведения акции.
            |  При&nbsp;подведении итогов возвраты вычитаются
            |  из&nbsp;общего количества заказов.

    include scripts
