doctype html
html lang="ru"
  head
    include head
    title AVON - new year prize
  body
    .contentWrapper
      .contentWrapper__content.content

        h1.content__title
          | Программа «Новогодний сюрприз»
        p.content__imgWrapper
          img.content__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/banners/programs/ydyg_16_2020.jpg"

        .content__stepsProgram.stepsProgram
          .stepsProgram__cols
            .stepsProgram__col.stepsProgram__step
              .triangleShadow.triangleShadow--right
                  span.triangleShadow__helper
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | РАЗМЕСТИ ЗАКАЗ
                |  в&nbsp;Кампании 16/2020<sup>1</sup>
                br/
                |  с&nbsp;1 по&nbsp;29 декабря от&nbsp;2 000<i class="currency">₽</i><sup>2</sup>
            .stepsProgram__col.stepsProgram__step
              .stepsProgram__stepIn
                span.stepsProgram__stepTitle
                  | Выбери и ЗАКАЖИ ПРИЗ
                sup 3
                br/
                | в кампании  1/2021<sup>4</sup> с 30 декабря по 31 января
                |  всего за 35<i class="currency">₽</i> с заказом от 1 000<i class="currency">₽</i><sup>2</sup>

        .content__in
          h2.content__title.content__title--small
            | Приз программы
          .content__bounty.bounty.bounty--mb0
            .bounty__content
              .bounty__item.is-active
                .bounty__itemLine
                  .bounty__itemLineCols
                    .bounty__itemLineRow.bounty__itemLineRow--small
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/ydyg_16_2020/good_1.jpg"
                        p.bountyGood__title
                          | Парфюмерная вода
                          br/
                          | «Little Black Dress»
                          br/
                          | 30 мл
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/ydyg_16_2020/good_2.jpg"
                        p.bountyGood__title
                          | Парфюмерная вода
                          br/
                          | «Perceive»
                          br/
                          | 30 мл
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/ydyg_16_2020/good_3.jpg"
                        p.bountyGood__title
                          | Набор
                          br/
                          | «Драгоценные масла»
                    .bounty__itemLineRow.bounty__itemLineRow--small.bounty__itemLineRow--center
                      .bounty__itemLineGood.bountyGood.bountyGood--onlyTitle
                        .bountyGood__imgWrapper
                          img.bountyGood__img src="https://www.avon.ru/REPSuite/static/images/gi3-20/goods/ydyg_16_2020/good_4.jpg"
                        p.bountyGood__title
                          | Набор
                          br/
                          | «Aspire & Planet Spa»

        p.content__text
          a.linkDownload href="https://www.avon.ru/REPSuite/static/download/ydyg_16_2020.pdf" target="_blank"
            span.linkDownload__title
              | Скачать полные правила программы
            span.linkDownload__info
              | PDF 104 KB

        p.content__note
          span.content__noteHelper
            | 1
          | Для Трендсеттерных территорий – в период действия каталогов 16/2020 и 2/2021
        p.content__note
          span.content__noteHelper
            | 2
          | По базе для расчета скидки
        p.content__note
          span.content__noteHelper
            | 3
          | Приз – Товар со скидкой в цене, определенной в каталоге, стоимостью 35₽ Стоимость приза не входит в базу для расчета скидки и не подлежит скидке Представителя.
        p.content__note
          span.content__noteHelper
            | 4
          | Територии-трендсеттеры - в период действия каталога 3/2021

    include scripts
