.bonus {
  padding: 30px 20px 45px;
  text-align: center;
  background-color: $white-light;

  &:not(:last-child) {
    margin-bottom: 36px;
  }

  &__icon {
    margin-bottom: 6px;
  }

  &__info {
    margin: 0 auto;
    max-width: 720px;
    font: 700 21px/1.33 $roboto;
  }
}
