.check {
  max-width: 590px;
  margin: 0 auto;
  padding: 64px 20px 85px;
  text-align: center;

  &__content {
    position: relative;
    padding: 48px 80px 40px;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.23);

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      right: 0;
      left: 0;
      height: 8px;
      background: url('../images/gi3/bg/check_bg_top.png') repeat-x;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -11px;
      right: 0;
      left: 0;
      height: 11px;
      background: url('../images/gi3/bg/check_bg_bottom.png') repeat-x;
    }
  }

  &__title {
    margin-bottom: 2px;
    font: 100 42px/1.2 $roboto;
  }

  &__result {
    &--done {
      &:before {
        content: '';
        margin-right: 5px;
        @include background-image(checkmark-red, 16px, 13px);
      }
    }
  }

  &__form {
    margin: 43px 0 37px;
    text-align: left;

    .form__block:not(:last-child) {
      margin-bottom: 26px;
    }

    .form__labelTitle {
      font: 12px/1.1 $roboto;
      text-transform: uppercase;
      color: $gray;
    }

    .form__field {
      padding: 0;
      height: 40px;
      font: 500 20px/40px $roboto;
      border: 0;
      border-bottom: 3px solid $white-light;
      border-radius: 0;
    }
  }

  &__printLink {
    font: 14px/1.2 $roboto;
    color: $gray-light;

    &:before {
      content: '';
      margin-right: 7px;
      @include background-image(print, 23px, 21px);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
  }

  &__button {
    flex-basis: 46.5%;
  }
}

@media ($mobile) {
  .check {
    padding: 25px 20px 20px;

    &__title {
      font-size: 24px;
    }

    &__content {
      padding: 20px;
    }

    &__form {
      margin: 25px 0 20px;
    }

    &__buttons {
      flex-wrap: wrap;
      margin-top: 40px;
    }

    &__button {
      flex-basis: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
