.collaboration {
  background-color: $white;
  border: solid 1px $white-light;

  &__in {
    padding: 50px 60px;

    &:not(:last-child) {
      border-bottom: 1px solid $white-light;
    }
  }

  &__text {
    font: 16px/1.5 $roboto;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    a {
      color: $pink;

      &:hover {
        color: $pink-hover;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    font: 300 24px/1.2 $roboto;
    letter-spacing: 0.8px;
    color: #344447;
  }

  &__list {
    padding-right: 20px;
  }

  &__listItem {
    &:before {
      content: '';
      display: inline-block;
      margin-top: -1px;
      margin-right: 2px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #181818;
      vertical-align: middle;
    }
  }

  &__cols {
    display: flex;
  }

  &__col {
    flex-basis: 50%;
  }
}

@media ($mobile) {
  .collaboration {
    &__in {
      padding: 15px 20px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__cols {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;
    }
  }
}
