.colsAdv {
  margin: 74px 0 0;
  text-align: center;

  &--med {
    margin-left: 7%;
    margin-right: 7%;
  }

  &__col {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }

  &__imgWrapper {
    margin-bottom: 13px;
    height: 80px;
    line-height: 80px;
  }

  .icon {
    display: inline-block;
    max-width: 62px;
    max-height: 56px;
    vertical-align: middle;
    fill: #ff336d;

    &--full {
      max-width: none;
      max-height: none;
    }
  }

  &__title {
    margin-bottom: 2px;
    font-weight: 300;
    text-transform: uppercase;
    color: $black;
  }

  &__info {
    padding: 0 10px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: $black;
  }

  &__more {
    position: absolute;
    left: 50%;
    bottom: 5px;
    font: 700 13px/1 $roboto;
    color: $pink;
    border-bottom: 1px solid $pink;
    transform: translateX(-50%);

    &:hover {
      color: $pink-hover;
      border-bottom-color: transparent;
    }
  }
}

@media ($tablet) {
  .colsAdv {
    .content__text {
      padding: 0 20px;

      br {
        display: none;
      }
    }
  }
}

@media ($mobile) {
  .colsAdv {
    flex-wrap: wrap;
    margin-top: 40px;

    &__more {
      bottom: 15px;
    }
  }
}
