.companyPrizes {
  margin-top: 147px;

  &__cols {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 46px;
    border: solid 2px $white-light;
    background-color: #f6f9f9;
  }

  &__col {
    flex-basis: 40%;
    margin: -90px 0 60px;
    text-align: center;
  }

  &__colImgWrapper {
    margin-bottom: 15px;
    text-align: center;
  }

  &__colImg {
    width: 100%;
    max-width: 350px;
  }

  &__colTitle {
    font: 700 24px/1.21 $roboto;
    color: $gray;
  }

  &__info {
    margin-bottom: 10px;
    font: 300 22px/1.36 $roboto;
    text-align: center;
  }

  &__link {
    font: 700 13px/1 $roboto;
    text-transform: uppercase;
    color: $pink;
    border-bottom: 1px solid $pink;

    &:hover {
      color: $pink-hover;
      border-bottom-color: transparent;
    }
  }
}

@media ($mobile) {
  .companyPrizes {
    &__cols {
      flex-wrap: wrap;
    }

    &__col {
      flex-basis: 100%;
      margin: 0 0 60px;

      &:first-child {
        margin-top: -90px;
      }
    }
  }
}
