.content {
  position: relative;
  margin: 0 auto 80px;
  color: $black;

  &__in {
    background: $white;
    padding: 60px 40px 40px;

    &--small {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  &__title {
    margin: 0 0 10px;
    font: 300 42px/1.29 $font-montserrat;
    text-align: center;
    color: $gray;

    &--small {
      font-size: 32px;
      line-height: 1.31;
    }
  }

  &__subtitle {
    margin: 0 auto 40px;
    font: 700 20px/1.4 $font-montserrat;
    text-align: center;
    color: $black;

    &--mb10 {
      margin-bottom: 10px;
    }
  }

  &__article {

  }

  &__imgWrapper {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      border: solid 2px $white;
      border-radius: 60px 0 60px 0;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    margin: 20px auto;
  }

  &__info {
    margin-bottom: 32px;
    padding: 15px 120px 17px;
    font: 700 20px/1.4 $font-montserrat;
    text-align: center;
    color: $white;
    background-color: $orange;
  }

  &__note {
    position: relative;
    margin: 20px 0;
    padding: 0 20px 0 30px;
    font: italic 14px/1.43 $font-montserrat;
    color: #a2acae;

    .content__text + & {
      margin-top: 30px;
    }
  }

  &__noteHelper {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: $white-light;
  }

  &__button {
    min-width: 320px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
