.contentPayments {
  margin: 0 auto 50px;
  padding: 20px 20px 0;
  max-width: 1186px;
  min-width: 320px;

  &__in {
    background-color: $white;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  &__inTitle {
    position: relative;
    padding: 25px 100px 20px 30px;
    font: 300 24px/1.2 $font-montserrat;
    letter-spacing: 0.3px;
    color: #344447;
    border-bottom: 1px solid $gray-light;
  }

  &__title {
    margin-bottom: 40px;
    font: 300 42px/1.29 $font-montserrat;
    text-align: center;
    color: $gray;
  }

  &__linkBack {
    font: 700 14px/1.2 $font-montserrat;
    text-transform: uppercase;
    color: #FF336D;
    cursor: pointer;

    &:hover {
      color: #E22A68;
    }

    .content__inTitle & {
      position: absolute;
      top: 32px;
      right: 30px;
    }
  }

  &__note {
    font: italic 500 15px/1.33 $font-montserrat;
    color: #a2acae;

    a {
      color: $purple;
      white-space: nowrap;

      &:hover {
        color: $purple-hover;
      }
    }

    span {
      border-bottom: 1px solid #a2acae;
    }
  }
}
