.contentPayments {
  margin: 0 auto 50px;
  padding: 20px 20px 0;
  max-width: 1186px;
  min-width: 320px;

  &__in {
    background-color: $white;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  &__inTitle {
    position: relative;
    padding: 25px 100px 20px 30px;
    font: 300 24px/1.2 $roboto;
    letter-spacing: 0.3px;
    color: #344447;
    border-bottom: 1px solid $white-light;
  }

  &__title {
    margin-bottom: 28px;
    font: 900 54px/1.2 $roboto;
    text-align: center;
    color: $gray;
  }

  &__linkBack {
    font: 700 14px/1.2 $roboto;
    text-transform: uppercase;
    color: $pink;
    cursor: pointer;

    &:hover {
      color: $pink-hover;
    }

    .content__inTitle & {
      position: absolute;
      top: 32px;
      right: 30px;
    }
  }

  &__note {
    font: italic 500 15px/1.33 $roboto;
    color: $gray-light;

    a {
      color: $pink;
      white-space: nowrap;

      &:hover {
        color: $pink-hover;
      }
    }

    span {
      border-bottom: 1px solid $gray-light;
    }
  }
}

@media ($mobile) {
  .contentPayments {
    margin-bottom: 20px;

    &__title {
      font-size: 32px;
    }

    &__inTitle {
      padding: 20px 80px 15px 20px;
      font-size: 21px;

      .content__linkBack {
        top: 24px;
        right: 20px;
      }
    }
  }
}
