.content {
  position: relative;
  margin: 0 auto 80px;
  color: $black;

  &__in {
    background: $white;
    padding: 60px 40px 80px;

    &--small {
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  &__title {
    margin: 0 0 10px;
    font: 300 42px/1.29 $font-montserrat;
    text-align: center;
    color: $gray;
  }

  &__subtitle {
    margin: 0 auto 40px;
    font: 700 20px/1.4 $font-montserrat;
    text-align: center;
    color: $black;
  }

  &__text {

  }

  &__img {
    width: 100%;
  }
}
