.copy {
  margin: 82px 0 78px;
  text-align: center;

  &__title {
    font: 900 54px/1.11 $roboto;
    color: $gray;
  }

  &__linkWrapper {
    margin: 8px auto 15px;
    width: 260px;
  }

  &__link {
    width: 100%;
    font: 700 13px/2.22 $roboto;
    text-align: center;
    color: $pink;
  }

  &__button {
    width: 257px;
  }
}

@media ($mobile) {
  .copy {
    margin: 52px 0 48px;

    &__title {
      font-size: 36px;
    }
  }
}
