.js-dropdown {
  &-container {

  }

  &-link {

  }

  &-content {
    display: none;
  }
}

.dropdown {
  border-radius: 4px;
  border: solid 1px $white-light;
  background-color: $white;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    position: relative;
    padding: 17px 230px 17px 40px;
    font-weight: 700;
    cursor: pointer;

    &:before {
      content: 'Раскрыть список';
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -11px;
      right: 60px;
      font: 500 14px/1.7 $font-montserrat;
      color: $purple;
      transition: color $transition-normal;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -8px;
      transition: transform $transition-normal;
      @include icon-svg(arrow-down, 16px, 16px);
    }

    &.is-active {
      &:before {
        content: 'Скрыть список';
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding: 0 230px 15px 40px;
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__linkDownload {

  }
}
