.headerUser {
  text-align: left;

  &__name {
    margin-bottom: 2px;
  }

  &__link {
    position: relative;
    font: 500 16px/20px $roboto;
    letter-spacing: 0.5px;
    color: $white;
    cursor: pointer;
    transition: color $transition-normal;

    &:hover {
      color: rgba($white, 0.8);
    }
  }

  &__arrow,
  svg {
    position: absolute;
    right: -17px;
    bottom: 2px;
    width: 12px;
    height: 8px;
  }

  &__content {

  }

  &__campaign {

  }
}
