.headerCampaign {
  font-size: 0;

  &__name {
    display: inline-block;
    margin-right: 4px;
    padding-right: 5px;
    font: 500 12px/12px $roboto;
    letter-spacing: 0.38px;
    color: $white;
    border-right: 1px solid $white;
  }

  &__timeLeft {
    display: inline-block;
    font: 12px/14px $roboto;
    letter-spacing: 0.38px;
    color: $white;
  }

  &__info {
    display: inline-block;
    margin-left: 7px;
  }

  &__link {
    display: inline-block;
    width: 19px;
    height: 19px;
    font: 500 12px/17px $roboto;
    text-align: center;
    color: rgba($white, 0.7);
    border: 2px solid rgba($white, 0.7);
    border-radius: 50%;
  }

  &__content {

  }
}
