.howTo {
  margin: 0 0 40px;
  padding: 40px 70px 46px;
  border: solid 2px $gray-light;
  background-color: $white-light;

  &__listItem {
    position: relative;
    padding-top: 14px;
    padding-left: 68px;
    max-width: 850px;

    &:not(:last-child) {
      padding-bottom: 38px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 58px;
      bottom: 8px;
      left: 24px;
      border-left: solid 1px #d8d8d8;
    }
  }

  &__listIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: $purple;
    border-radius: 50%;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $white;
      max-width: 30px;
      max-height: 28px;
    }

    .icon--sendMail {
      max-width: 45px;
      max-height: 40px;
    }
  }

  &__listTitle {
    min-height: 48px;
    color: $gray;
  }
}
