.instructions {
  margin-top: 73px;
  text-align: center;
  color: $gray;

  &__iconWrapper {
    margin-bottom: 39px;
    font-size: 0;

    .icon {
      width: 64px;
      height: 52px;
      fill: $pink;
    }
  }

  &__title {
    margin-bottom: 4px;
    font: 900 54px/1.11 $roboto;
  }

  &__info {
    font: 300 22px/1.18 $roboto;
  }

  &__cols {
    align-items: stretch;
    margin: 52px 0 27px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .instructions__buttonIn {
    flex-basis: 100%;
  }
}

@media ($mobile) {
  .instructions {
    margin-top: 50px;

    &__iconWrapper {
      margin-bottom: 15px;
    }

    &__title {
      font: 700 42px/1.11 $roboto;
    }

    &__cols {
      margin-top: 30px;
    }
  }
}
