.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15%;

  &__item {
    margin: 0 10px;
  }

  .icon--whatsapp {
    width: 237px;
    height: 71px;
  }

  .icon--mailing {
    width: 155px;
    height: 45px;
  }

  .icon--viber {
    width: 140px;
    height: 66px;
  }
}

@media ($mobile) {
  .logos {
    flex-wrap: wrap;
    padding: 0;

    &__item {
      flex-basis: 100%;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
