.orderCode {
	margin: 40px 0 35px;
	line-height: 1.2;
	letter-spacing: 0.19px;
	text-align: center;
	color: $gray-light;
}

.orderCode__text {

}

.orderCode__code {
	font-weight: 700;
	color: $pink;
}
