.paginator {
  display: none;
  margin: 0 8%;
  padding: 49px 0 106px;
  text-align: center;
  border-top: 1px solid $white-light;

  li {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;

    &.active {
      a {
        background-color: #f6f9f9;
      }
    }

    &.disabled {
      a {
        &:hover {
          background-color: transparent;
        }
      }
    }

    &.paginationjs-prev,
    &.paginationjs-next {
      a {
        line-height: 36px;

        border: solid 1px #e1e1e1;

        &:hover {
          background-color: transparent;
        }
      }

      &:not(.disabled) {
        a {
          &:hover {
            color: $white;
            background-color: $pink;
          }
        }
      }
    }

    &.paginationjs-prev {
      margin-right: 10px;
    }

    &.paginationjs-next {
      margin-left: 10px;

      a {
        padding-left: 2px;
      }
    }

    a {
      display: block;
      width: 40px;
      height: 40px;
      font: 14px/40px $roboto;
      color: $gray;
      border-radius: 50%;

      &:hover {
        background-color: #f6f9f9;
      }
    }
  }
}

@media ($mobile) {
  .paginator {
    padding: 30px 0;
  }
}
