.prizesCompany {
  margin-bottom: 58px;
  text-align: center;

  &__cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 40px 8% 55px;
    border: solid 1px $white-light;
    background-color: $white;
  }

  &__col {
    flex-basis: 45%;
    font: 300 16px/1.44 $roboto;
  }

  &__imgWrapper {
    position: relative;
    height: 80px;
    margin-bottom: 5px;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 70px;
      max-height: 60px;
      fill: $pink;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-weight: 700;
  }

  &__info {

  }

  &__button {
    width: 100%;
    max-width: 320px;
    margin: 0 10px 20px;
  }
}

@media ($mobile) {
  .prizesCompany {
    &__cols {
      flex-wrap: wrap;
      padding-top: 30px;
    }

    &__col {
      flex-basis: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
