.prizesList {
  &__title {
    @extend .content__title;
    @extend .content__title--small;
    margin-bottom: 15px;
  }

  &__note {
    padding: 22px 30px;
    font: 700 20px/1.4 $font-montserrat;
    text-align: center;
    color: $white;
    background-color: $orange;

    &--small {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--green {
      background-color: #1a8282;
    }
  }

  &__noteTitle {
    text-transform: uppercase;
  }

  &__bounty {
    .bounty__itemLineRow {
      justify-content: center;

      .bountyGood {
        flex-basis: 33.9%;

        &:last-child {
          margin-right: 0;
        }
      }

      .bountyGood__img {
        max-width: 340px;
      }

      .bountyGood__button {
        left: 13.3%;
        right: 13.3%;
      }
    }
  }

  &__cols {
    display: flex;
    justify-content: center;
    margin: 40px auto 20px;
  }

  &__item {
    flex-basis: 30%;
    text-align: center;
    color: $black;
  }

  &__itemImgWrapper {
    height: 360px;
    line-height: 360px;
  }

  &__itemImg {
    width: 100%;
    max-width: 306px;
    max-height: 360px;
    vertical-align: middle;
  }

  &__itemTitle {
    margin-top: 7px;
    padding-top: 6px;
    font: 300 28px/1.5 $font-montserrat;
    border-top: 1px solid $gray;
  }

  &__itemDescription {
    margin-top: 25px;
    font: 700 20px/1.4 $font-montserrat;
  }
}
