.privileges {
  margin: 30px 0 0;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__cols {
    padding: 41px 7% 35px;
    border: solid 2px $gray-light;
    background-color: $white-light;
  }

  &__col {

  }

  &__colIn {
    padding: 0 10px;
  }

  &__imgWrapper {
    position: relative;
    margin-bottom: 10px;
    height: 60px;
  }

  .icon {
    display: inline-block;
    max-width: 50px;
    max-height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__colTitle {
    margin-bottom: 7px;
    font: 700 20px/1.4 $font-montserrat;
    text-transform: uppercase;
    color: $black;
  }

  &__info {
    font-size: 16px;
    line-height: 1.5;
    color: $gray;

    a {
      color: $gray;

      &:hover {
        color: $purple;
      }
    }
  }
}

@media ($tablet) {
  .privileges {
    &__cols {
      margin: 0 5%;
    }
  }
}

@media ($mobile) {
  .privileges {
    padding-bottom: 40px;

    &__col {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
