.prizeCost {
  &:not(:first-child) {
    margin-top: 55px;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__in {
    padding: 55px 30px;
    border: solid 1px $white-light;
    background-color: $white;

    .content__subtitle {
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 48px;
    }

    .content__period {
      margin-bottom: 36px;
    }
  }

  &__cols {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__col {
    flex-basis: 100%;
    text-align: center;
    background-color: $white;

    &--3 {
      flex-basis: 350px;
      margin-bottom: 3.5%;
    }

    &--gray {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      border: 1px solid $white-light;
      background-color: #f6f9f9;

      .prizeCost__header {
        flex-basis: 100%;
      }

      .prizeCost__content {
        flex-basis: 100%;
        border: 0;
      }
    }
  }

  &__header {
    position: relative;
    padding: 39px 20px 25px;
    font: 700 24px/1.2 $roboto;
    color: $white;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      width: 0;
    	height: 0;
      border-style: solid;
      border-width: 65px 175px 0 175px;
      border-color: transparent;
    }

    &--red {
      background-color: #ea5e7d;

      &:before {
        border-top-color: #ea5e7d;
      }
    }

    &--orange {
      background-color: #ff968d;

      &:before {
        border-top-color: #ff968d;
      }
    }

    &--light {
      background-color: #f8d0cd;

      &:before {
        border-top-color: #f8d0cd;
      }
    }

    &--gray {
      padding-top: 26px;
      padding-bottom: 10px;
      color: $gray;
      background-color: $white-light;

      &:before {
        border-top-color: $white-light;
        border-top-width: 50px;
      }

      .prizeCost__title,
      .prizeCost__sum {
        display: inline-block;
      }
    }
  }

  &__title {
    font-size: 24px;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__sum {
    font-size: 30px;
  }

  &__content {
    padding: 105px 20px 35px;
    font: 700 24px/1 $roboto;
    color: $gray;
    border: solid 1px $white-light;
    border-top: 0;
  }

  &__info {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__code {
    margin: 21px auto 23px;
    font-size: 18px;
    text-align: center;
  }

  &__codeNumber {
    font-weight: 700;
    color: $pink;
  }

  &__price {
    font-size: 68px;
  }

  &__note {
    vertical-align: top;
    font: 500 10px/1 $roboto;
  }

  &__button {
    display: block;
    margin: 0 auto;
    max-width: 548px;

    &--small {
      max-width: 350px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

@media ($desktop) {
  .prizeCost {
    &__in {
      padding-left: 20px;
      padding-right: 20px;

      .prizeCost__col--3 {
        flex-basis: 300px;
      }

      .prizeCost__header {
        &:before {
          border-width: 50px 150px 0 150px;
        }
      }
    }

    &__col {
      &--3 {
        flex-basis: 320px;
        margin-bottom: 3.5%;
      }
    }

    &__header {
      &--gray {
        .prizeCost__sum {
          display: block;
        }
      }

      &:before {
        border-width: 65px 160px 0 160px;
      }
    }
  }
}

@media ($tablet) {
  .prizeCost {
    &__in {
      .prizeCost__header {
        &:before {
          border-width: 50px 180px 0 180px;
        }
      }
    }

    &__cols {
      display: block;
    }

    &__col {
      display: block;
      width: 360px;
      margin: 0 auto 30px;
    }

    &__header {
      &:before {
        border-width: 65px 180px 0 180px;
      }
    }
  }
}

@media ($mobile) {
  .prizeCost {
    &:not(:first-child) {
      margin-top: 25px;
    }

    &__in {
      padding-top: 35px;
      padding-bottom: 20px;

      .content__subtitle {
        margin-bottom: 10px;
        font-size: 27px;
      }

      .prizeCost__col {
        width: 240px;
      }

      .prizeCost__header {
        &:before {
          border-width: 50px 120px 0 120px;
        }
      }
    }

    &__col {
      width: 280px;
    }

    &__header {
      &:before {
        border-width: 65px 140px 0 140px;
      }
    }
  }
}
