.prizes {
  &--small {
    .prizes__item {
      flex-basis: 320px;

      &:nth-child(2n+1) {
        margin-right: 20px;
      }
    }

    .prizes__itemImgWrapper {
      height: 220px;
    }

    .prizes__itemImg {
      max-width: 100%;
      max-height: 220px;
    }

    .prizes__itemTitle {
      margin-bottom: 20px;
    }
  }

  &__title {
    @extend .content__title;
  }

  &__subtitle {
    @extend .content__subtitle;
  }

  &__cols {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px auto 0;
  }

  &__item {
    padding-bottom: 20px;
    text-align: center;
  }

  &__itemImgWrapper {
    margin-bottom: 20px;
  }

  &__itemImg {

  }

  &__itemTitle {
    margin-bottom: 30px;
    font: 700 16px/1.5 $font-montserrat;
    color: $gray;
  }

  &__itemCode {

  }

  &__itemList {

  }

  &__itemListTitle {

  }

  &__itemListHidden {

  }

  &__itemListItem {

  }

  &__itemCode {
    font: 12px/20px $font-montserrat;
    color: $gray;
  }

  &__itemCodeNumber {
    font-weight: 500;
    font-size: 14px;
    color: $purple;
  }

  &__itemPrice {
    font: 700 30px/19px $font-montserrat;
    color: $black;

    .currency {
      display: inline-block;
      margin-left: 2px;
    }
  }
}
