.productGuides {
  border: solid 1px $white-light;
  background-color: $white;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--prizes {
    .productGuides__cols {
      padding-bottom: 100px;
    }
  }

  &--samples {
    .productGuides__item {
      border-bottom: solid 1px $white-light;
    }

    .productGuides__code {
      strong, b {
        font-weight: 400;
        color: $pink;
      }
    }

    .productGuides__price {
      font-size: 24px;
    }

    .productGuides__currency {
      font-size: 18px;
    }
  }

  &--company {
    position: relative;
    flex-basis: 100%;
    text-align: center;
    border: 0;

    .productGuides__in {
      position: static;
      padding: 0 10px 138px;
    }

    .productGuides__img {
      max-width: 60%;
      max-height: 390px;

      &--big {
        max-width: 80%;
      }
    }

    .productGuides__list {
      border: solid 1px $white-light;
      border-width: 1px 1px 0 1px;
    }

    .productGuides__code {
      bottom: 118px;
    }

    .productGuides__price {
      bottom: 80px;
    }
  }

  &__header {
    margin: 0 -100% 15px;

    strong {
      font-weight: 700;
    }
  }

  &__title {
    padding: 21px 30px 22px;
    font: 300 24px/1.2 $roboto;
    color: #344447;
    border-bottom: solid 1px $white-light;
  }

  &__text {
    padding: 40px 30px 20px;
    font: 300 16px/1.8 $roboto;
    color: #344447;

    strong,
    b {
      font-weight: 700;
    }
  }

  &__cols {
    margin-bottom: -1px;
    padding: 0 8%;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: stretch;
    text-align: center;

    &--shadow {
      z-index: 1;
      background-color: $white;
      transition: box-shadow $transition-normal, z-index $transition-normal;

      &:hover {
        z-index: 9;
        box-shadow: 0 2px 20px 0 #e1e1e1;
      }
    }

    &--single {
      justify-content: space-between;
      padding: 45px 45px 75px;

      .productGuides__imgWrapper {
        flex-basis: 31.5%;
        margin-bottom: 0;
        margin-left: 6%;
      }

      .productGuides__img {
        width: 88%;
        max-height: none;
      }

      .productGuides__in {
        flex-basis: 56%;
        padding: 0;
      }

      .productGuides__code {
        position: static;
        margin-bottom: 30px;
      }

      .productGuides__price {
        position: static;
        margin-bottom: 36px;
      }

      .productGuides__button {
        position: static;
        width: 100%;
        max-width: 253px;
      }
    }

    &--max13 {
      .productGuides__in {
        padding-bottom: 220px!important;
      }

      .productGuides__img {
        max-height: 240px;
      }

      .productGuides__price {
        bottom: 128px!important;
        font-size: 24px;
      }

      .productGuides__code {
        bottom: 178px;
        font-size: 14px;

        strong {
          font-weight: 400;
          color: $pink;
        }
      }
    }
  }

  &__in {
    position: relative;
    flex-basis: 100%;
    padding: 30px 30px 110px;

    &--noButton {
      padding-top: 55px;

      .productGuides__price {
        bottom: 48px;
      }
    }

    &--title {
      padding-bottom: 80px;
    }

    &--big {
      padding-top: 55px;
      padding-bottom: 245px;

      .productGuides__button {
        bottom: 50px;
      }
    }

    &--prize,
    &--link {
      margin-top: 35px;
      padding-bottom: 146px;

      .productGuides__description {
        font-size: 20px;
        line-height: 1.3;
      }

      .productGuides__code {
        bottom: 100px;
        font-size: 18px;
        line-height: 1.22;
        color: #707070;

        strong, b {
          font-weight: 400;
        }
      }

      .productGuides__button {
        bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    &--link {
      padding-bottom: 206px;

      .productGuides__code {
        bottom: 160px;
      }

      .productGuides__button {
        bottom: 60px;
      }
    }
  }

  &__imgWrapper {
    margin-bottom: 21px;
    font-size: 0;
  }

  &__img {
    max-height: 186px;
  }

  &__info {
    min-height: 48px;
    font: 20px/1.2 $roboto;
    color: #707070;
  }

  &__description {
    &--normal {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  &__code {
    position: absolute;
    bottom: 205px;
    left: 20px;
    right: 20px;
    color: #a2acae;

    strong, b {
      font-weight: 700;
    }
  }

  &__price {
    position: absolute;
    bottom: 135px;
    left: 20px;
    right: 20px;
    font-weight: 700;

    &--big {
      font-size: 24px;

      .productGuides__currency {
        font-size: 18px;
      }
    }

    i {
      font-weight: 400;
    }
  }

  &__priceOld {
    font-size: 16px;
    font-weight: 400;;
    text-decoration: line-through;
    color: #a2acae;
  }

  &__button {
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 37px;
    cursor: pointer;
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font: 18px/1.2 $roboto;
    color: #a2acae;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: #a2acae;
    }
  }

  &__list {
    margin-bottom: 36px;
    text-align: left;
  }

  &__listItem {
    font: 14px/1.2 $roboto;

    &:first-child {
      padding: 13px 20px;
      font: 700 16px/1.2 $roboto;
      background-color: $white-light;
    }

    &:not(:first-child) {
      padding: 10px 20px;
      background-color: #f6f9f9;
      border-bottom: solid 1px #e4eded;
    }
  }

  &__itemsSet {
    margin-top: -21px;
  }
}

@media ($tablet) {
  .productGuides {
    &__cols {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media ($mobile) {
  .productGuides {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__cols {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__in {
      padding-left: 0;
      padding-right: 0;

      &--prize,
      &--link {
        padding-top: 0;
      }
    }

    &__item {
      border-bottom: 1px solid $white-light;

      &--shadow {
        &:first-child {
          margin-top: 20px;
        }

        &:last-child {
          margin-bottom: 20px;
        }

        .productGuides__button {
          left: 20px;
          right: 20px;
        }
      }

      &--single {
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;

        .productGuides__in {
          flex-basis: 100%;
        }

        .productGuides__imgWrapper {
          flex-basis: 100%;
          margin: 0 0 30px;
        }

        .productGuides__img {
          max-width: 80%;
          width: auto;
          max-height: 186px;
        }

        .productGuides__code,
        .productGuides__price {
          margin-bottom: 10px;
        }
      }
    }

    &__header {
      margin: 0 0 15px;
    }

    &__title {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 21px;
    }

    &__text {
      padding: 15px 20px;
    }

    &__list {
      margin-bottom: 20px;
    }

    &__button {
      left: 0;
      right: 0;
    }

    &__link {
      bottom: 20px;
      left: 0;
      width: 100%;
      font-size: 16px;
      transform: none;
      border: 0;

      &:hover {
        color: $pink;
      }
    }
  }
}
