.program {
  margin-bottom: 20px;
  background-color: $white;
  overflow: hidden;

  &--transparent {
    margin-bottom: 2.6%;
    background-color: transparent;

    .program__cols {
      padding: 9px 0 0;
      border: 0;
    }

    .program__col {
      padding: 0;
    }
  }

  &--noMargin {
    margin-bottom: 0;
  }

  & + .content__title--big {
    margin-top: 85px;
  }

  &__title {
    padding: 21px 30px 22px;
    font: 300 24px/1.2 $roboto;
    color: #344447;
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 35px;
    border: solid 1px $white-light;
  }

  &__col {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 48.7%;
    padding: 42px 0 55px;

    &--table {
      display: flex;
      flex-basis: 51.4%;
    }
  }

  &__name {
    flex-basis: 100%;
    margin-bottom: 12px;
    font: 300 24px/1.2 $roboto;
    color: #344447;

    &--textReg {
      margin-top: 8px;
      margin-bottom: 8px;
      font: 400 28px/1 $roboto;
    }

    &--small {
      margin-bottom: 10px;
      font: 400 22px/1.31 $roboto;
    }
  }

  &__item {
    flex-basis: 100%;
    align-self: flex-end;
    position: relative;
    padding: 0 20px 73px;
    min-height: 207px;

    &--noIcon {
      padding-top: 19px;
    }

    &--banner {
      padding-left: 30px;
      padding-right: 30px;

      .program__button {
        left: 30px;
        bottom: 22px;
      }
    }

    &--start {
      background: #7db8c1 url('../images/gi3/banners/program_start.png') no-repeat 90% 15px;
      background-size: 220px;
      color: $white;
    }

    &--discount {
      background: #f3d5a9 url('../images/gi3/banners/program_discount.png') no-repeat 97% center;
      background-size: contain;

      .program__logoWrapper {
        height: 74px;
      }
    }

    &--new {
      padding-top: 31px;
      color: $white;
      background: #000 url('../images/gi3/banners/program_new.png') no-repeat 90% center;
      background-size: 270px;
    }

    &--president {
      align-self: stretch;
      padding-top: 25px;
      background: #f8f2e5 url('../images/gi3/banners/program_president.png') no-repeat 90% center;
      background-size: 260px;
    }

    &--bijouterie {
      background: #f8edea url('../images/gi3/banners/program_bijouterie.png') no-repeat 107% center;
      background-size: 190px;

      .program__logoWrapper {
        margin-bottom: 4px;
        height: 70px;
      }

      .icon {
        width: 50px;
        height: 50px;
        fill: $black;
      }

      .program__info {
        font: 13px/1.38 $roboto;
      }
    }

    &--delivery {
      background: #e3eded url('../images/gi3/banners/program_delivery.png') no-repeat right bottom;
      background-size: 160px;
    }

    &--online {
      padding-top: 95px;
      padding-left: 30px;
      background: #e3eded url('../images/gi3/banners/program_online.png') no-repeat right bottom;
      background-size: 215px;

      .program__button {
        left: 30px;
      }
    }

    &--disney {
      background: #f8edea;

      .program__logoWrapper {
        margin-bottom: 4px;
        height: 70px;
      }

      .program__info {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 1.38;
      }
    }

    &--skills {
      background: #c0e3e8 url('../images/gi3/banners/program_skills.png') no-repeat right bottom;
      background-size: 120px;

      .program__logo {
        width: 46px;
      }
    }

    &--insta {
      background: #fde4bb url('../images/gi3/banners/program_insta.png') no-repeat right bottom;
      background-size: 120px;

      .program__logo {
        width: 38px;
      }
    }

    &--friends {
      padding-left: 30px;
      background: #e3eded url('../images/gi3/banners/program_friends.png') no-repeat right bottom;
      background-size: 200px;

      .program__logoWrapper {
        height: 95px;
      }

      .program__logo {
        max-height: 82px;
      }

      .program__button {
        left: 30px;
      }
    }

    &--cosmetologist {
      background: #efdfdd url('../images/gi3/banners/program_cosmetologist.png') no-repeat right bottom;
      background-size: 150px;

      .program__logo {
        width: 37px;
      }
    }

    &--spring {
      background: #fcd7de url('../images/gi3/banners/program_spring.png') no-repeat 80% center;
      background-size: 160px;

      .program__logoWrapper {
        height: 95px;
      }

      .program__logo {
        max-height: 90px;
      }
    }

    &--equal {
      padding-top: 22px;
      background: $white-light url('../images/gi3/banners/program_equal.png') no-repeat right center;
      background-size: 180px;

      .program__logoWrapper {
        padding-top: 0;
        height: 75px;
      }

      .icon {
        width: 40px;
        height: 40px;
        fill: $pink;
      }
    }

    &--coordinator {
      background: #e3eded url('../images/gi3/banners/program_coordinator.png') no-repeat 97% bottom;
      background-size: 135px;

      .program__info {
        margin-top: 20%;
      }
    }

    &--marathon {
      background: $white-light url('../images/gi3/banners/program_marathon.png') no-repeat 97% bottom;
      background-size: 210px;

      .program__logoWrapper {
        padding-top: 0;
        height: 70px;
      }
    }

    &--shapewear {
      background: #f8edea url('../images/gi3/banners/program_shapewear.png') no-repeat 92% center;
      background-size: 120px;
    }
  }

  &__logoWrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 80px;

    .icon {
      max-width: 190px;
      max-height: 55px;
    }
  }

  &__logo {
    max-width: 190px;
    max-height: 55px;
  }

  &__info {
    font: 14px/1.29 $roboto;
    color: $black;

    &--bold {
      margin-bottom: 6px;
      font: 700 14px/1.2 $roboto;
    }

    &--textUp {
      text-transform: uppercase;
    }

    strong {
      font-size: 16px;
      font-weight: 700;
    }

    sub {
      font-size: 12px;
      font-weight: 700;
    }

    i {
      font-size: 20px;
    }
  }

  &__infoSum {
    font-size: 16px;
  }

  &__button {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: calc(100% - 40px);
    max-width: 190px;

    &--second {
      bottom: 72px;
    }
  }

  &__additional {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-align: center;
  }

  &__additionalSum {
    font: 700 112px/1.2 $roboto;
    letter-spacing: 5.6px;
  }

  &__additionalInfo {
    font: 300 14px/1.2 $roboto;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }

  &__hr {
    flex-basis: 100%;
    height: 1px;
    background-color: $white-light;
  }

  &__table {
    flex-basis: 100%;
    border: solid 1px #e4eded;
    border-top: 0;
    background-color: #f6f9f9;
  }

  &__tableIn {
    padding: 18px 20px;

    .program__col--table & {
      padding-left: 40px;
    }
  }

  &__tableTitle {
    padding: 14px 20px 12px;
    font-size: 20px;
    letter-spacing: 0.1px;
    background-color: $white-light;

    .program__col--table & {
      padding-left: 40px;
    }
  }

  &__tableInfo {
    font: 16px/26px $roboto;
    color: #586466;

    strong {
      font-size: 22px;
    }
  }

  &__link {
    position: absolute;
    left: 20px;
    bottom: 26px;
    font: 700 12px/1 $roboto;
    text-transform: uppercase;
    color: $pink;
    border-bottom: 1px solid transparent;
    transition: color $transition-normal, border-color $transition-normal;

    &:hover {
      color: $pink-hover;
      border-bottom-color: $pink-hover;
    }
  }

  &__copyright {
    position: absolute;
    right: 30px;
    bottom: 26px;
    font: 14px/1.29 $roboto;
    color: $gray-light;
  }
}

@media ($desktop) {
  .program {
    &__additionalSum {
      font-size: 78px;
    }

    &__additionalInfo {
      letter-spacing: 0;
    }
  }
}

@media ($tablet) {
  .program {
    &__cols {
      padding: 0 20px;
    }

    &__additionalSum {
      font-size: 48px;
    }

    &__additionalInfo {
      display: none;
    }
  }
}

@media ($mobile) {
  .program {
    &--transparent {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      .program__col {
        padding: 12px 0 20px;
        border-bottom: 0;

        &:not(:last-child) {
          border-bottom: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    & + .content__title--big {
      margin-top: 45px;
    }

    &__col {
      flex-basis: 100%;
      padding: 12px 0 20px;

      &:first-child {
        padding-top: 20px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $white-light;
      }

      &--table {
        padding-top: 20px;

        .program__tableTitle,
        .program__tableIn {
          padding-left: 20px;
        }
      }
    }

    &__item {
      min-height: 190px;
      text-align: center;
      background-image: none;

      &--new,
      &--president {
        padding-top: 15px;
      }

      &--coordinator {
        .program__info {
          margin-top: 30px;
        }
      }
    }

    &__logoWrapper {
      justify-content: center;
    }

    &__title {
      padding: 16px 20px 17px;
      font-size: 21px;
    }

    &__name {
      font-size: 18px;
    }

    &__info {
      margin: 10px 0;

      br {
        display: none;
      }
    }

    &__additional {
      position: static;
      transform: none;
    }

    &__hr {
      display: none;
    }

    &__button {
      max-width: none;
    }

    &__tableTitle {
      font-size: 18px;
    }

    &__tableInfo {
      strong {
        font-size: 18px;
      }
    }
  }
}
