.sorting {
  position: relative;
  z-index: 1;
  margin-bottom: 18px;
  box-shadow: 0px 1px 0 0 $white-light;
  background-color: $white;

  &__cols {
    margin-bottom: 0;
    padding: 25px 25px 14px;
  }

  &__item {
    position: relative;
    z-index: 1;
    background-color: $white;
    border: solid 1px $white-light;
    border-radius: 4px;
    transition: box-shadow $transition-normal, z-index $transition-normal;

    &.is-active {
      z-index: 9;
      border-radius: 4px 4px 0 0;
    }
  }

  &__itemTitle {
    position: relative;
    display: block;
    padding: 18px 10px 17px;
    font: 14px/1.2 $roboto;
    text-transform: uppercase;
    cursor: pointer;
    color: $gray;

    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 8px;
      position: absolute;
      top: 22px;
      right: 10px;
      background: url('../images/gi3/svg/arrow-small-black.svg') no-repeat center center;
      background-size: 14px 8px;
      transition: transform $transition-normal;
    }

    &.is-active {
      font-weight: 700;

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__itemHidden {
    position: absolute;
    top: 40px;
    left: -1px;
    right: -1px;
    background-color: $white;
    border: solid 1px $white-light;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 6px;
      right: 6px;
      height: 1px;
      background-color: $white-light;
    }
  }

  &__itemSearch {
    position: relative;
    display: block;
    margin: 6px 6px 0;

    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 9px;
      margin-top: -8px;
      background: url('../images/gi3/svg/loupe.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &__autocomplete {
    width: 100%;
    height: 32px;
    padding: 0 10px 0 40px;
    font: 14px/32px $roboto;
    background-color: #f6f9f9;
    color: #a2acae;
  }

  &__itemList {
    padding: 6px;
  }

  &__itemListCat {
    padding: 10px 8px 9px;
    font: 11px/1.2 $roboto;
    color: $gray;
    cursor: pointer;
    transition: background-color $transition-normal;

    &:hover {
      background-color: #f6f9f9;
    }
  }
}

@media ($tablet) {
  .sorting {
    &__cols {
      padding: 20px 20px 0;
    }
  }
}
