.stepsImg {
  margin: 21px 0 -14px;
  text-align: center;

  &__in {
    padding: 0 20px;
  }

  &__imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    height: 160px;
    font-size: 0;
  }

  &__img {
    max-width: 100%;
    max-height: 155px;
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__info {
    font-weight: 300;

    a {
      color: $pink;

      &:hover {
        color: $pink-hover;
      }
    }
  }
}

@media ($tablet) {
  .stepsImg {
    &__imgWrapper {
      height: 120px;
    }
  }
}

@media ($mobile) {
  .stepsImg {
    padding-bottom: 20px;

    &__in {
      margin-bottom: 40px;
    }

    &__imgWrapper {
      display: block;
      height: auto;
      margin-bottom: 20px;
    }
  }
}
