.steps {
  margin: 30px 0 47px;

  &--in {
    .steps__list {
      padding: 0;
      border: 0;
    }

    .steps__listItem:before {
      top: -3px;
    }

    .steps__listInfo strong {
      color: $black;
    }
  }

  &__nameIn {
    background-color: transparent;
    border: 0;
    // border-width: 1px 0 0;
    // border-top-color: rgba(#dff985, 0.7);
  }

  &__title {
    margin-top: 84px;
    font: 700 42px/1.31 $roboto;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 36px;
    font: 100 42px/1.1 $roboto;
    text-align: center;
  }

  &__list {
    padding: 69px 50px 63px 65px;
    background-color: $white;
    border: solid 1px $white-light;
    counter-reset: steps;

    &--cols {
      display: flex;
      padding: 60px 0 20px;
      text-align: center;
      border: 0;

      .steps__listItem {
        padding: 0;

        &:before {
          position: static;
          margin-bottom: 8px;
          text-align: center;
        }
      }

      .steps__listInfo {
        padding: 0 10px;
      }
    }
  }

  &__listItem {
    position: relative;
    padding-left: 55px;
    flex-basis: 100%;

    &--4 {
      flex-basis: 25%;
    }

    &:before {
      display: block;
      counter-increment: steps;
      content: counter(steps);
      position: absolute;
      top: 0;
      left: 0;
      font: 900 54px/1 $roboto;
      color: $pink;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__listTitle {
    font: 700 16px/1.2 $roboto;
    text-transform: uppercase;
  }

  &__listInfo {
    font: 300 16px/1.44 $roboto;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      color: $pink;

      &:hover {
        color: $pink-hover;
      }
    }

    strong {
      font-weight: 700;
      color: #eb486e;
    }
  }

  &__button {
    width: 80%;
    max-width: 320px;
  }
}

@media ($tablet) {
  .steps {
    &__list {
      flex-wrap: wrap;
    }

    &__listItem {
      &--4 {
        flex-basis: 50%;
      }
    }
  }
}

@media ($mobile) {
  .steps {
    margin: 30px 0;

    &__title {
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 1.1;
    }

    &__subtitle {
      margin-bottom: 20px;
      font-size: 30px;
    }

    &__list {
      padding: 40px 20px 20px;

      &--cols {
        flex-wrap: wrap;
        padding-top: 20px;
      }
    }

    &__listItem {
      padding-left: 40px;

      &--4 {
        flex-basis: 100%;
      }

      &:before {
        font-size: 42px;
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    &__button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
