.tablePrize {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__header {
    padding: 14px 20px 11px;
    background-color: $white-light;

    .tablePrize__col {
      border: 0;

      &:nth-child(2n+1) {
        &:before {
          display: none;
        }
      }
    }
  }

  &__content {
    padding: 0 20px;
    background-color: $white;

    .tablePrize__colIn {
      padding-top: 14px;
      padding-bottom: 13px;
    }
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  &__col {
    position: relative;
    flex-basis: 50%;
    border-bottom: solid 1px $white-light;

    &:nth-child(2n+1) {
      text-align: right;

      &:before {
        content: '';
        position: absolute;
        top: 11px;
        left: 100%;
        @include background-image(arrow-right, 54px, 28px);
        transform: translateX(-50%);
      }

      .tablePrize__colIn {
        padding-right: 13%;
        padding-left: 0;
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-bottom: 0;
    }
  }

  &__colIn {
    padding-left: 13%;
  }

  &__title {
    font: 700 16px/1.2 $roboto;
  }

  &__info {
    strong {
      font-weight: 700;
    }
  }
}

@media ($mobile) {
  .tablePrize {
    &__col {
      &:nth-child(2n+1) {
        &:before {
          display: none;
        }

        .tablePrize__colIn {
          padding-right: 10px;
          padding-left: 0;
        }

        .tablePrize__info {
          strong {
            display: block;
          }
        }
      }
    }

    &__colIn {
      padding-left: 10px;
    }

    &__title,
    &__info {
      font-size: 14px;
    }
  }
}
